[2019-04-24 07:47] HondayMax commented on #295
@kmruehl  Manual definition works well, and I can calculate models of different sizes just like RM3 in the tutorial. Thank you very much for your guidance. I believe WEC-Sim will get better and better.

                                                                                                                                                 Thanks again,

[2019-04-25 13:51] muzammilhuss commented on #291
I think this is a bug... which needs to be fixed. How to do?
![image](https://user-images.githubusercontent.com/49338779/56740733-14a27780-67a4-11e9-9fca-bd3daf40b141.png)

[2019-04-25 15:31] kmruehl commented on #291
@muzammilhuss It looks like you're running WEC-Sim from the Source Directory, not the Case Directory. To run WEC-Sim, you must be in the Case Directory, and execute WEC-Sim by typing `wecSim` into the command window.

The error related to the convolution integral time is because `simu.CITime` is larger than the impulse response function for the available hydrodynamic data. This can be resolved by

[2019-04-26 15:41] kmruehl commented on #297
@johnallen24 can you upload a ZIP of your run? We think the issue is that you also need to define `waves.waveSpread` as a column vector as well, but it would be helpful if we can reproduce the error to debug.

[2019-04-26 15:46] yuyihsiang commented on #296
Hi johnallen24

You can replace the 3DOF joint with the 6DOF joint from the WEC-Sim lib, and it should work. Please note that the way the mooring was specified does not provide any restoring stiffness in yaw.

Yi-Hsiang

[2019-04-28 06:05] Tudore commented on #294
Hi, Yi-Hsiang,

Thanks for your reply. Yes, I do have tried the function in WAMIT to include generalized modes in the calculation. It is quite a interesting function. I will try to see how it works in time domain in WEC-SIM.

Thanks!
Tudore

[2019-04-28 06:32] Tudore commented on #293
Regarding this problem, I will provide a simple case to show more details.
The gap resonance is a problem but is overestimated in potential flow (added mass and damping can be very large if the frequency is close to the resonance frequency). If we have that jump in the hydrodynamic coefficient, it will cause the Retardation function decays very slow (lack of damping). The gap resonance also influe

[2019-04-29 14:50] #294 closed

[2019-05-03 16:54] nathanmtom commented on #297
@johnallen24 Thank you for bringing this error to the development team's attention. After reviewing the error you have posted it appears you were running regular wave option in WEC-Sim so by using a waves.waveDir = [0; 45] you want to have two waves of equal amplitude and frequency to come from two directions, correct?

If the above is correct, then unfortunately WEC-Sim doesn't allow this in the

[2019-05-04 19:06] ghleila commented on #298
[fmincon.zip](https://github.com/WEC-Sim/WEC-Sim/files/3144700/fmincon.zip)
Thanks for your reply. Here's a ZIP of the model we're using. In the .m file named "fmincon_ctrl", I'm trying to find optimum parameters for PTO control but it stops execution because of the error mentioned before.

[2019-05-06 08:59] celeparcombatir opened #299 "NEMOH-BEMIO-WEC-Sim"
Dear readers,

The example of BEMIO with NEMOH is really useful, I am trying to replicate it with my own data from NEMOH for an OSWEC device.
The example works like a charm for me but if I use my own data (Nemoh.cal, Hydrostatics.dat, KH.dat, RadiationCoeffiecients.tec, ExcitationForce.tec, DiffractionForce.tec and FKForce.tec) the bemio.m gets stuck at: writing data in h5 format... with the follo

[2019-05-06 10:27] celeparcombatir commented on #299
I believe the value of 0.02 is wrong, this should be the amount of time steps. However if I use the default for this (1001) I get another error with indexing again.
![oswec2](https://user-images.githubusercontent.com/45232253/57220040-33054000-6ffa-11e9-8aee-8c007728d8ac.PNG)

[2019-05-06 22:52] kmruehl commented on #299
@celeparcombatir would you be willing to upload a ZIP of your NEMOH run with your BEMIO input file? That way we can debug the issue. Thank you.

[2019-05-06 22:54] #296 closed

[2019-05-06 22:55] kmruehl commented on #291
@muzammilhuss does this resolve your issue?

[2019-05-07 03:59] muzammilhuss commented on #291
Thank ypou very much. some fo the issues have been resolved successfully. But I think this error is about something else. this error comes when I runs "wecSiminutfile.m" of irregularCIC and RM3_MoorDyn...

![image](https://user-images.githubusercontent.com/49338779/57270644-cacc6200-70be-11e9-8ee1-731a1459c79c.png)
![image](https://user-images.githubusercontent.com/49338779/57270707-05ce9580-70bf-

[2019-05-07 09:43] celeparcombatir commented on #299
@kmruehl thank you for your fast reply. Yes of course, I have added a ZIP with all the files and my bemio.m.
[Oyster.zip](https://github.com/WEC-Sim/WEC-Sim/files/3151885/Oyster.zip)

[2019-05-07 15:52] kmruehl commented on #291
@muzammilhuss I was able to run the RM3_MoorDyn simulations with `waveClass('etaImport');`, `waveClass('regularCIC')` and `waveClass('irregular')` on my machine without issue. There is not a waveClass called irregularCIC, see list of wave classes here: http://wec-sim.github.io/WEC-Sim/code_structure.html#wave-class.

![image](https://user-images.githubusercontent.com/4603379/57313214-5b4d7700-70ac

[2019-05-07 15:59] kmruehl commented on #298
@ghleila Thank you for providing the ZIP of your model. I am able to reproduce your error, and am looking into a resolution.

[2019-05-07 16:25] kmruehl commented on #298
@ghleila it looks like the `wecSim.m` file you provided is an old version of the WEC-Sim executable. Please pull the latest version of `wecSim.m` from the [repository](https://github.com/WEC-Sim/WEC-Sim/blob/master/source/wecSim.m), and add the **$SOURCE** directory to your MATLAB path (http://wec-sim.github.io/WEC-Sim/getting_started.html#install-wec-sim). The WEC-Sim executable should be located

[2019-05-07 17:56] ghleila commented on #298
@kmruehl Thank you, problem solved.

[2019-05-07 17:56] #298 closed

[2019-05-07 18:00] kmruehl commented on #298
@ghleila glad that solved the issue.

[2019-05-08 19:47] vincentoneka opened #300 "Error in h5read"
Good afternoon,

I'm really annoyed because I think the error is very stupid but I need help on this kind of messages :
![image](https://user-images.githubusercontent.com/50420074/57402833-26bde600-71a6-11e9-806c-9ec18d5937f2.png)

I have already checked the related messages in the forum, but I can't find a solution...
I'm using Matlab R2018b
I mad a simulink model with three bodies, each one have

[2019-05-09 08:10] celeparcombatir commented on #299
I believe the problem is due to the degrees of freedom of my calculations. My calculations have only 1 but I think WEC-Sim wants 6 to solve the EOM in 6 DOFs.
I will be trying to fix this and report on it.

[2019-05-09 21:19] glennond opened #301 "'Run quiet' for WEC-Sim"
I'm calling WEC-Sim from a separate matlab optimization function, exactly as described in issue #298 and trying to log the optimization path.

1) The fmincon function has a logging option described [here,](https://www.mathworks.com/help/optim/ug/fmincon.html#busow0u-1_1) which unfortunately logs each iteration by printing it to the command window before the next function call.
Since WEC-Sim.m open

[2019-05-10 16:00] glennond commented on #301
Solved by just using a separate 'diary' call for fmincon iteration printouts.

[2019-05-10 16:00] #301 closed

[2019-05-10 20:40] kmruehl commented on #299
@celeparcombatir Thanks for attaching a ZIP of your BEMIO-NEMOH run. I think your assessment is correct. WEC-Sim requires the hydrodynamic coefficients in all 6-DOF, and your NEMOH run only has 1-DOF. The error in BEMIO occurs in the for loop, iterating through the DOF `hydro.dof`. Re-running NEMOH with all 6-DOF should resolve the issue.

[code]

[2019-05-10 20:47] kmruehl commented on #301
@glennond I'm glad you were able to resolve the issue, and thank you for letting us know how you resolved it. Did you also try removing the `clc` from `wecSim.m`? There is no functional requirement for `clc` in `wecSim.m`, it is only indeed to keep keep the command window clean.

[2019-05-10 20:50] crobarcro commented on #301
Yes, for the record, this is a crazy thiing to have in there by the way.

[2019-05-10 21:30] glennond commented on #301
I did try removing clc and quieting WEC-Sim,  but it ultimately wasn't necessary because I created a diary log file which was disabled while WEC-Sim was running, so the only remaining logs in that file were from fmincon.

As a side note, the second method is also possible using handle classes instead of nested functions, as described [here.](https://stackoverflow.com/questions/40003329/matlab-opti

[2019-05-14 18:15] celeparcombatir commented on #299
@kmruehl Thank you for looking into it! I had troubles with using NEMOH to make a mesh and calculate the hydrodynamic coefficients.
I now have it working and added my Matlab file I used to make a mesh, use NEMOH and use BEMIO.
Maybe it will be useful for somebody struggling with making a .h5 file using NEMOH for an OSWEC when they want to use WEC-Sim.

[oswec_mesh_nemoh_bemio.zip](https://github.c

[2019-05-14 18:15] #299 closed

[2019-05-16 21:00] ryancoe opened #302 "Read_NEMOH.m - upper case Nemoh.cal"
On OSX and Windows, the specification of a filename for `fopen` is not case sensitive (https://www.mathworks.com/matlabcentral/answers/270711-when-matlab-read-file-file-name-is-case-insenstive). However in Linux, `fopen` is case sensitive. From what I can tell, NEMOH (and the MATLAB wrappers that go with it) use the following convention:

- `.cal` files are start with uppercase (`Nemoh.cal` and `M

[2019-05-21 08:26] AmirH7076 opened #303 "How to Access the original WAMIT (Not demo version)"
Hello.
Would you please advise me how to get & access the original version of WAMIT? (Not demo version).
Best Regards.

[2019-05-21 09:53] crobarcro commented on #303
I'm not one of the developers, just another user, but I can't help but wonder, have you tried doing an internet search for "WAMIT"? I mean, there's actually a website www.wamit.com?

[2019-05-21 19:22] yuyihsiang commented on #300
Hi Vincent,

Sorry for the late reply. Yes, you should only have only one h5 file instead of three. I would recommend you combine them.

I am more than happy to check to see if I can reproduce the error message if you upload your case.

Thanks,

Yi-Hsiang

[2019-05-21 19:33] kmruehl commented on #297
@johnallen24 WEC-Sim does not currently have the ability to model regular waves with multiple incident directions, but if you would like to add this functionality to the `waveClass` and submit a pull request, we would be happy to include your addition in WEC-Sim.

[2019-05-21 19:33] #297 closed

[2019-05-21 19:38] yuyihsiang commented on #293
Sure, we will be looking forward to the file.

[2019-05-21 19:39] kmruehl commented on #291
@muzammilhuss did this resolve your issue?

[2019-05-21 22:37] dforbush2 commented on #302
The most recent commit added exceptions to handle the case fopen fails to create a valid file ID for a linux operatng system within Read_NEMOH. I reviewed the other BEMIO related codes as well and did not find any similar instances of hard-coded sub-directories that could potentially cause issues, but please let me know if you encounter other problems on Linux machines

[2019-05-21 23:08] ryancoe commented on #302
Thanks Dom. From what I recall (don’t have it in front of me offsite), the directory structures created by Nemoh are always lowercase (regardless of OS). Likewise with the .cal files starting with uppercase. If this were true, you could simply change the lines for all OSes (i.e., no need for a flag). Am I misremembering?

On May 21, 2019, at 6:37 PM, dforbush2 <notifications@github.com<mailto:noti

[2019-05-21 23:20] dforbush2 commented on #302
Hi Ryan,

You’re right in general. However the tutorial files in BEMIO all have manually renamed Nemoh output folders (Mesh, Results), so I wanted to make sure that Read_Nemoh could handle both Nemoh created defaults and tutorial cases.

Best,
Dom

From: Ryan Coe <notifications@github.com>
Sent: Tuesday, May 21, 2019 5:09 PM
To: WEC-Sim/WEC-Sim <WEC-Sim@noreply.github.com>
Cc: Forbush, Dominic <df

[2019-05-23 18:13] tedbrekken opened #304 "Issue with PM waves and "Traditional" freqDisc?"
When using

waves = waveClass('irregular');         % Initialize Wave Class and Specify Type
waves.H = 5;                          % Significant Wave Height [m]
waves.T = 10;                            % Peak Period [s]
waves.spectrumType = 'PM';              % Specify Wave Spectrum Type
waves.phaseSeed = 1;                    % Phase is seeded so eta is the same
waves.freqDisc = 'Traditional';

I

[2019-05-23 20:23] kmruehl commented on #303
@AmirH7076 as @crobarcro responded, you'll have to purchase a WAMIT license from http://www.wamit.com/ to get the full (no demo) version of the software.

[2019-05-23 20:23] #303 closed

[2019-05-24 15:39] nathanmtom commented on #304
@tedbrekken You are correct, the Pierson-Moskowitz (PM) spectrum is only a one parameter spectrum in WEC-Sim which is defined by the peak period. We had previously used the \alpha_{pm} term as a coefficient that we could tune to match a given significant wave height; however, we found that this result is nearly identical to the solution to the Bretschneider (BS) spectrum. Therefore, we chose to ke

[2019-05-26 04:53] Tudore commented on #293
Hi, Yihsiang,

I made a simple case which is a barge with a moonpool inside. Although it is slightly different from the side by side case, the fundamental theory is similar. My barge has a dimension L*H*D = 100*50*4.

The added mass and damping are plotted as follows,

![image](https://user-images.githubusercontent.com/35771437/58377483-4893d700-7fb4-11e9-9ce5-7146f9a2dc3f.png)
![image](https://us

[2019-05-26 22:29] yuyihsiang commented on #293
Thank you, I will take a look this week.

Regarding mean drift force, I agree it is proportional to A^2. However, for irregular waves, A is not the amplitude. We actually use the square root of waves.A. Therefore, we have

    C0 = bsxfun(@times,A*WaveSpread(ii),dw);
    C1 = sqrt(bsxfun(@times,A*WaveSpread(ii),dw));
    D0 =bsxfun(@times,squeeze(fExtMD(ii,:,:)),C0);
    D1 =bsxfun(@times,squeeze(

[2019-05-28 21:52] yuyihsiang commented on #293
Thank you for sharing your case. It looks very interesting, and I agree that the coefficients consist of many sharp spikes. I think modeling barge with a moonpool inside in those BEM model can be tricky.

Here are a few thoughts:
- I wondering if you have sufficient panel on the body. Sometimes we see those oscillating IRF if the panel resolution is insufficient, particularly for high-frequency ca

[2019-05-30 21:36] #304 closed

[2019-05-30 21:37] #302 closed

[2019-05-30 21:38] kmruehl commented on #300
@vincentoneka does this resolve your issue?

[2019-05-30 21:43] #291 closed

[2019-06-07 13:26] sricharanvvs commented on #289
Following up the error, I am able to generate IRFs and graphs to visualize and thus the .h5 file. But why does it now become a garbage file showing this error.

[2019-06-07 14:47] jackhughes1 opened #305 "Currents in WEC-Sim"
Hi, I am inquiring about the possibility of implementing hydrodynamic loading on a body from tidal currents and have a few questions:

1. Is there any work at present which may include an implementation of this kind?
2. Is this even possible?
3. If so, where may be a good place to start?

Apologies for the vague questions, but any help would be greatly appreciated!

Best regards,
Jack H

[2019-06-07 15:55] kmruehl commented on #289
@sricharanvvs What error are you seeing?

[2019-06-07 20:48] sricharanvvs commented on #255
Hi @nathanmtom I am referring to the starting part of the thread.
I have error:
Error using simulationClass/loadSimMechModel (line 83)
block_diagram does not have a parameter named 'SimMechanicsOpenEditorOnUpdate'

Error in wecSim (line 210)
simu.loadSimMechModel(simu.simMechanicsFile);

The simulink file is customized one not the standard. I am using 2018b version. As you suggested I tried to cha

[2019-06-07 20:59] sricharanvvs commented on #255
The error in case of MATLAB2017b
Simulating the WEC device defined in the SimMechanics model h_and_f_rev2.slx...
Error using error_for_persistent_vars_in_ct_mlfcn (line 9)
Instantaneous FS uses constructs that are invalid when the block specifies or inherits a continuous sample time. Invalid
constructs include the use of persistent or global variables, calls to exported functions or using coder.ex

[2019-06-07 21:13] sricharanvvs commented on #289
@kmruehl
when i try to execute wecSim after geneating .h5 and editing wecSimInputFile.m  , I get 2 types of errors:
1: When I use .h5 file (which was generated using 2015b) in 2017b version (windows, with old WECSIM 2017) It says file is very large.
2: When I generate .h5 file in 2017b(windows), Ill get h<1000  binaryetc
But I have read your answers in couple of threads. I generated this many time

[2019-06-12 14:20] bradling commented on #301
I second the `clc` being crazy - every time I update my version of WEC-Sim the first thing I do is remove that.

@glennond you can also suppress output the output text by calling `[~]=evalc('wecSim');`, which is what I usually do.

[2019-06-25 23:35] cadu55br commented on #289
Dear all,
I created a Matlab script (VCF_190625_1800_R5H6_axiMesh_Nemoh_Bemio.m) in order to generate the WEC-Sim input files. It seems this step was successfully.
I renamed the “axisym.dat” file to “float.dat”, and stored it in the “geometry” directory. (Note: Since I am creating a linear model, I am not using a *.stl file, using *.dat Nemoh file instead. Is it OK?).
I stored the “VCF_190625_1800

[2019-07-04 21:53] cadu55br commented on #289
Hello again!
Regarding to my comment above, I am attaching the inputs & outputs (excluding 'Normalvelocities.dat', due to the file size) of the Matlab script ('VCF_190625_1800_R5H6_axiMesh_Nemoh_Bemio.m'), the Simulink model 'VCF_190625_1800_R5H6.slx' and the script 'wecSimInputFile.m'.

I hope this information can help to solve the error.
Thanks in advance!
Best regards,
Carlos

[inputs&outputs (

[2019-07-09 06:25] AmirH7076 opened #306 "Error in reading Aqwa Output file"
Hello
Thanks to WEC-Sim
I want to simulate a simple Two-body Point Absorber in  WEC-Sim . Aqwa's .AH1 file includes the specifications of each part. But the Read_AQWA  m-file only process the hydrodynamic data of one part. Actually the number of body is set 1 not 2. I found the problem and  then I modified the .AH1 file manually. The problem was in first line of .AH1 file:
 * DATE .....
  1  5  99

[2019-07-10 18:29] cadu55br commented on #289
In addition to my comments above, it seems the problem is within Hydrodynamic Data File generated by BEMIO: 'hydroData/VCF_190625_1800_R5H6.h5'

I have attached two text files with the outputs from MATLAB functions "h5disp" and "h5info", with information about the hydroData file.

Best regards,
Carlos

[h5disp('VCF_190625_1800_R5H6.h5').txt](https://github.com/WEC-Sim/WEC-Sim/files/3378923/h5disp.

[2019-07-15 15:44] kmruehl commented on #306
This is related to issue #295

[2019-07-15 15:45] #300 closed

[2019-07-15 15:45] #295 closed

[2019-07-15 15:46] #293 closed

[2019-07-15 16:01] kmruehl commented on #289
@sricharanvvs in regard to your question about BEMIO and generating `*.h5` files.
1. Please pull the latest version of WEC-Sim from GitHub: https://github.com/WEC-Sim/WEC-Sim
2. When running BEMIO it is possible to see the plots using the `Plot_BEMIO` function and not have the `*.h5` file written by the `Write_H5` function. The error you got means that the `*.h5` file was not written properly. Her

[2019-07-15 16:46] dforbush2 commented on #306
Hello,

Could you please provide your .AH1 and .LIS file? From your description of the error, it appears that line 121 is attempting to read a line of the AH1 file that does not exist, or is empty. The location of Body #2 data (or higher) is assumed based on the number of frequencies and wave headings in line 118, as defined in the first line of the AH1 file you identified:

[118] - tmp = str2num(

[2019-07-16 16:10] dforbush2 commented on #306
Hello again,

Without seeing your specific files, I am unsure if this will solve your issue, but a compatibility issue was found between Read_AQWA and new versions of AQWA. This has since been fixed. Please update Read_AQWA.m and try again.

Thank you.

[2019-07-20 00:28] crobarcro opened #307 "What forces would be seen on load cell?"
Hello,

I'm hoping I can get some help answering a validation question. To take the RM3 as an example, if I were to place a load cell between the float and it's connection point to the PTO, what force would I see on the load cell In terms of a sum of the forces calculated in WEC-Sim?

This is relevant for validation of forces using a load cell like this. It is confusing due to the added mass force

[2019-07-21 17:13] cadu55br commented on #205
Dear Ms. Kelley Ruehl,

I have copied the revised Buoy2.zip file attached by you above.
Then I updated your Simulink2017 model "Buoy2.slx", converting it to Simulink2019 ("Buoy2.slx" and "Buoy2.slxc").

I replaced your hydro and geometry files ("ANALYSIS.h5" and "buoy.stl") by the files generated by Matlab routine axiMesh_Nemoh_Bemio for my R5m x H6m cylinder ("VCF_190625_1800_R5H6.h5" and "buoy2.

[2019-07-23 13:23] crobarcro opened #308 "Added mass force calculation"
I have a few questions about the added mass force calculation in WEC-Sim

In WEC-Sim, the added mass force is calculated by taking the sum of the diagonal terms of the added mass matrix, multiplying by some factor, and then adding this to the body mass like so:
[code]
`tmp.adjmass` is then also subtracted from the every diagonal term of the added mass matrix like so:

[code]
So my questions are:

[2019-07-23 16:33] tedbrekken opened #309 "Body 1 and 2 labeling"
A minor issue, perhaps, but in the text generated at the MATLAB command line after entering "wecSim" to run WEC-Sim for a two body system (e.g. RM3), there is a subheader "List of Body: Number of Bodies = 2".  Under that header, some hydrodynamic parameters of Body Number 0 and Body Number 1 are identified.  This numbering is at odds with the numbering used elsewhere, which is Body 1 and Body 2.

[2019-07-23 16:36] tedbrekken opened #310 "Recommend additional commenting on wave height parameter for PM and JS"
Following up on a previous issue I submitted, I recommend adding a comment to the the "waves.H" setting for the PM and JS spectrums, noting that changes to this parameter have no effect.

[2019-07-23 16:42] tedbrekken opened #311 "Simulation end time and random waves"
The default WEC-Sim simu.endTime parameter is perhaps set too short.  In irregular wave conditions using that simulation time, there is a significant variation in power from one run to the next.  Consider a comment or note that the simulation endTime should be set to something on the order of 1/dF where dF is the spacing between frequencies in the spectrum data, in order to sufficiently capture al

[2019-07-24 22:13] crobarcro opened #312 "Possible bug in writing control surface values to H5?"
Write_H5 contains the following lines:

[code]
In the first `if` you check for the `md_mc` field, then use it, however, in the second `if`, you check for `md_cs`, then don't use it, but instead have the exact same line from the previous `if`.
I assume the statement in the second `if` was meant to address `hydro.md_cs` not `hydro.md_mc` again?

[2019-07-25 08:07] accient opened #313 "where can I find the result about power?"
After running the example , I didn't see any result of power generation efficiency or power generation. Where can I find it?
![image](https://user-images.githubusercontent.com/37647393/61857147-22c47900-aef6-11e9-97e4-700fe9abae73.png)
![image](https://user-images.githubusercontent.com/37647393/61857192-37087600-aef6-11e9-9cda-dec1df789498.png)

[2019-07-26 20:11] GyeongKim opened #314 "."

[2019-07-29 02:14] GyeongKim opened #315 "I can't see the arrow to go to the sub-blocks in the RM3 file."
Hi.
I am a very beginner for the WEC-Sim and a user of MATLAB 2019a.
Now I am studying how to use the WEC-Sim, but I can't see the arrow to go to the sub-blocks in the RM3 file.
Could somebody let me know how to do it?
Many thanks for your help.
![그림1](https://user-images.githubusercontent.com/53353128/62017521-ff632d80-b184-11e9-8818-5e582e5a82ee.png)

[2019-07-30 16:35] zmorrell-sand opened #316 "Jenkins Test Issue"
I am opening this issue to test Jenkins CI using GitHub WebHooks.  If this successfully makes Jenkins build, I will close this issue.  Otherwise, I will type single character responses to illicit another test.  The issue will be closed when Jenkins is functional.

[2019-07-30 16:41] zmorrell-sand commented on #316
a

[2019-07-30 17:42] yuyihsiang commented on #307
Hi

What I would typically do is add a non-hydrobody at the location, in between the float and your PTO, where you have the load cell and use the output from it. This would avoid the added mass issue.

Yi-Hsiang

[2019-07-30 17:45] yuyihsiang commented on #308
1. The largest value can be tricky. If you happen to have the largest added-mass in surge but you have a simulation that is only in heave, this added-mass may cause an issue. The factor gives the users a way to adjust the value if they want.
2. The value was selected based on past experience. You are more than welcome to change it.

[2019-07-30 18:03] yuyihsiang commented on #314
Hi GyeongKim

Can't see the title of the issue. Is this still an issue?

Yi-Hsiang

[2019-07-30 18:06] yuyihsiang commented on #312
Fixed and pushed

Thanks,

Yi-Hsiang

[2019-07-30 22:20] kmruehl commented on #305
Current was added in WEC-Sim in the following commit: https://github.com/WEC-Sim/WEC-Sim/commit/71c68920c16c4ce7b36f4bd9e21096aa202fe24a

[2019-07-30 22:20] #305 closed

[2019-07-30 22:21] #289 closed

[2019-07-30 22:22] kmruehl commented on #306
This was resolved by commit: https://github.com/WEC-Sim/WEC-Sim/commit/49823657e056b6baa7239e44dd3782dedae734b9

[2019-07-30 22:22] #306 closed

[2019-07-30 22:26] kmruehl commented on #307
If you want to output the load from the load cell at the location of the pto/constraint you can also call on the following variable from the output data structure, for example `output.constraints.forceConstraint`

http://wec-sim.github.io/WEC-Sim/code_structure.html#id2

[2019-07-30 22:33] kmruehl commented on #312
resolved by commit: https://github.com/WEC-Sim/WEC-Sim/commit/29f4cc29cf785b75837dffd2fd818494d452efc4

[2019-07-30 22:33] #312 closed

[2019-07-30 22:41] #314 closed

[2019-07-30 22:42] yuyihsiang commented on #313
output.ptos.powerInternalMechanics. Please note that this comes with a negative sign.

[2019-07-30 23:20] kmruehl commented on #315
It looks like the arrow button has been removed. You can either hit `Ctrl+U`, or you can right click on the block and select Mask->Look Under Mask.

![image](https://user-images.githubusercontent.com/4603379/62172005-2c7f1f80-b2ee-11e9-8718-e26a1b2bd8f0.png)

[2019-07-30 23:20] #315 closed

[2019-07-30 23:29] #311 closed

[2019-07-31 01:24] accient commented on #313
Thank you

[2019-07-31 13:27] GyeongKim commented on #315
Thank you.

[2019-07-31 13:28] GyeongKim commented on #314
I made it. It was a very simple problem. Thank you.

[2019-07-31 14:38] kmruehl commented on #315
No problem, glad to help.

[2019-07-31 14:38] kmruehl commented on #314
Glad you were able to resolve the issue.

[2019-07-31 20:38] #310 closed

[2019-07-31 20:43] kmruehl commented on #310
Thanks for the recommendation, I updated the documentation and added a note to the log. FYI, significant wave height, `Hs`, is used for the `'JS'` formulation, but the `'PM'` formulation is only based on peak period, `Tp`.

[2019-08-01 01:44] Tudore commented on #293
Hi, Yi-Hsiang,

Just come back from the ISOPE conference and long summer vacation.

Regarding the drift force, it would be better if we consider Newman approximation in the calculation. Now only the diagonal term has been included in the calculation if I understand it correctly.

Regarding the gap resonance,
1. The first point about the panel number. Actually, I am using HOBEM and the RAOs has bee

[2019-08-01 01:50] Tudore opened #317 "Is it possible to define a spring connection and a constraint with the expected restraint degree of freedom"
Is it possible to define a spring connection and a constraint with the expected restraint degree of freedom?
1. Could we define a spring (linear elongation or nonlinear) in SIMULINK model?
2. Now there are some pre-defined constraints. Are we able to create a 'customized' constraints? For example to restrain x,y,z and rz. This is to simulate a body to be restrained by mooring dolphin.

Thanks!
Reg

[2019-08-02 08:51] crobarcro commented on #308
When you say past experience, do you mean past experience that it makes the simulation more stable, or past experience that it produces more accurate results?

[2019-08-02 16:36] kmruehl commented on #317
@Tudore
1. I've never done this before, but you should be able to define a non-linear spring in Simulink. It looks like this can be done using the [Nonlinear Translational Spring block](https://www.mathworks.com/help/physmod/sdl/ref/nonlineartranslationalspring.html), or a similar spring block provided by Simulink.
2. Yes, you can define custom constraints using the [Simscape Multibody Joints and

[2019-08-06 22:23] #313 closed

[2019-08-06 22:24] kmruehl commented on #307
@crobarcro does this resolve your issue?

[2019-08-06 22:35] crobarcro commented on #307
Thank you, yes, it does.

[2019-08-06 22:35] #307 closed

[2019-08-07 14:44] kmruehl commented on #317
@Tudore did this resolve your issue?

[2019-08-07 23:46] yuyihsiang commented on #309
Changed

[2019-08-07 23:46] #309 closed

[2019-08-07 23:48] yuyihsiang commented on #308
Typically, the value would not affect the accuracy of the simulation as long as the simulation is stable.

[2019-08-13 05:47] Tudore commented on #317
Thanks, Kelly. I need to explore this function. Will give feedback once it is done.

[2019-08-16 11:39] crobarcro commented on #308
hmmm, ok, it does kind of raise the question of why bother calculating added mass at all then, I mean, if you double it, it must have some kind of effect on the simulation.

[2019-08-16 18:49] glennond opened #319 "In-simulation access to current wave height"
Hello WEC-Sim community,
I'd like to design a PTO control system that responds to the current wave conditions in-simulation. For example, using a rolling average period over a shorter window, to allow for longer simulations that undergo changes in the primary wave period throughout the simulation.

Is there a way to access an instantaneous waveheight at a body? As opposed to waves.T and waves.H, I

[2019-08-18 21:41] glennond commented on #319
I seem to have found a complicated and cumbersome way to do this
![blocks](https://user-images.githubusercontent.com/32114944/63230755-f4208200-c1c5-11e9-9982-154619767098.PNG)

Here is the text of the function:
`function eta = waveElevNow(curSimTime, wavesMat)

eta = wavesMat((find(wavesMat(:,1)==curSimTime)),2);`

**Please still let me know if there is a simpler way I'm missing.**

[2019-09-03 15:21] Elise68 commented on #162
Hi Bemio team,
I am currently trying to understand the state-space realisation.
If I understood correctly, the state space realization is a method to solve the convolution integral term in the Cummins equation. Here is the approximation made:
![image](https://user-images.githubusercontent.com/54849310/64186371-9dbe6f00-ce66-11e9-8629-e29ebab9f5bb.png)

Wec-Sim solves this equation with the time do

[2019-09-03 15:43] crobarcro commented on #308
This makes sense, I see now how you are doing this. Thanks for the explanation.

[2019-09-05 15:12] yuyihsiang commented on #319
Here is the FFT function. Hopefully, that can be helpful for you.

[Archive.zip](https://github.com/WEC-Sim/WEC-Sim/files/3579945/Archive.zip)

Yi-Hsiang

[2019-09-05 15:13] #308 closed

[2019-09-29 21:49] vanderJan commented on #185
Hi,

Thank you for your information. it makes much sense for me to understand the implementation of endstop force. But I still can not make it according to your explanation as I am new to wecSim. It would be more than helpful if you can give me more information (the better, if there a picture of such a simplified simulink model ) about how to implement the very stiff spring when position exceed ce

[2019-10-02 10:15] jackhughes1 opened #320 "Current direction issue"
Hi, I'm trying to use the new currents implementation in waveclass.

When setting the current direction the simulation performs as expected, however if I rotate the body into flow at an angle that should produce the same result I get unexpected, unstable results.

This image shows the forces in surge and sway of a hemispherical geometry (taken from the applications repository) with C_D = [1 1 1] a

[2019-10-11 20:25] nathanmtom commented on #162
@Elise68 Apologies for the delay in our response. The answers to your questions below:

1. For clarification the matrices A, B, C, and D correspond to the outputs from the code posted by j-vanrij in the prior response?
    a. If so, then the A, B, C, D matrices correspond to the intermediate matrix (Aij, Bij, Cij, Dij) the final
    matrix (Ar, Br, Cr) can be found by running the RM3 simulation wi

[2019-10-11 23:07] nathanmtom commented on #320
@jackhughes1 Thank you for bringing this issue to the development teams attention.

I have a few questions to ask to clarify the conditions you are running:

1. If I understood you correctly, you are using the files from the IEA_OES_Task10_freeDecay folder in the WEC-Sim Applications in the WEC-Sim repository.
2. You have stated that you are using the C_{D} = [1 1 1], but are you using the other d

[2019-10-16 07:56] sricharanvvs commented on #205
Hi ,
I have gone through the related posts but unable to resolve. Mine is a floating WEC, have used MoorDyn. Untiill I attach or include Moordyn the simulation is running well.
Also, Time step is 0.01, ramp time also kept small. (2019b)
-- One thing I dont understand is the locations of PTO, Mooring etc. With which reference the location is to  be entered?
-- lines.txt is also included in mooring

[2019-10-17 06:12] sricharanvvs opened #321 "MOORDYN ISSUE - NaN DETECTION"
@kmruehl
Hi ,
I have gone through the related posts but unable to resolve. Mine is a floating WEC, have used MoorDyn. Untiill I attach or include Moordyn the simulation is running well.
Also, Time step is 0.01, ramp time also kept small. (2019b)
-- One thing I dont understand is the locations of PTO, Mooring etc. With which reference the location is to  be entered?
-- lines.txt is also included in

[2019-10-30 23:04] nathanmtom commented on #162
@Elise68 I wanted to check with you to see if our previous response answered your question? Please let us know if you have additional comments or questions.

[2019-11-01 09:38] Elise68 commented on #162
Thank you very much for your answer.

Cheers,
Elise

[2019-11-01 15:37] #162 closed

[2019-11-04 23:46] zmorrell-sand commented on #316
a

[2019-11-05 11:16] crobarcro opened #322 "Suspicious indexing in Read_NEMOH.m"
Read_NEMOH.m has the following around line 289:

[code]
`Vo` is indexed using the variable `m`, which was last set by a loop around line 109, and is therefore probably always equal to hydro.Nb (the number of hydrobodies). Is this the intention?

[2019-11-05 11:21] crobarcro opened #323 "Read_NEMOH.m doesn't work in linux"
Read_NEMOH.m has recently added a line like this:

`if exist(fullfile(filedir,'Results','Kochin.    1.dat'),'file')==2`

In linux this is always false as the directory is lower case `results`, as is actually known by someone who wrote this as it is (sort-of) correctly handled further down.

A better way to code this would be to do something like:

[code]
then use `resultsdir` and `meshdir` through

[2019-11-05 11:23] crobarcro commented on #322
I would also like to suggest that using meaningful variable names would be helpful in understanding the code.

[2019-11-05 11:41] crobarcro commented on #322
Same goes for use of `m` here:

[code]

[2019-11-05 17:40] kmruehl commented on #319
@glennond did this resolve your issue?

[2019-11-05 18:34] yuyihsiang commented on #321
Hi Charan,

The reference location should be [0 0 0] for the mooring since you have defined everything assuming an origin of [0 0 0] in moorDyn.

I noticed that your mooring line is 1.3 m but your vertical distance is 2.4m. I assume you are trying to have an pre-tension in the mooring line. However, based on the error message that moorDyn is crashing when initializing the system.

You may want to

[2019-11-07 22:51] glennond commented on #319
Yes, I no longer have an issue here

[2019-11-08 17:35] #319 closed

[2019-11-10 12:54] sricharanvvs commented on #321
Hey, Thanks a lot for the response!
Its working now with the below lines.txt file.
1. X, Y values of the lines are on the edges of my body but the 'Z' value I have given from the CG of that body which is -1.08 from the MSL. So -0.2 is from the CG (-1.08): is it right ? I mean the mutual references are right?
2. I am unable to see the cables physically either in the simu.explorer nor in the paravie

[2019-11-11 22:19] frrfrz opened #324 "WEC-sim validation"
Hello, i am trying to do a validation of WEC-sim (for my master thesis) using the RM3 model and the data obtain from the following papers:
[1] Experimental Wave Tank Test for Reference Model 3 Floating-Point Absorber Wave Energy Converter Project (Y.H. Yu, M. Lawson et al.). TEST #2 (just heave).
[2] Preliminary Verification and Validation of WEC-Sim, an Open-Source Wave Energy Converter Design To

[2019-11-12 23:42] kmruehl commented on #324
@frrfrz, thanks for you question regarding the RM3 experimental data used for WEC-Sim v1.0 validation. I've responded to a few of your questions **in line below,** and @yuyihsiang will address the remainder of your questions.

1.	I can't understand if the experimental data of [2] are the same as [1], and if they are related, how they are related?
**The experimental data in [2] is based on the RM3

[2019-11-12 23:56] kmruehl commented on #320
@jackhughes1 has this resolved your issue?

[2019-11-13 00:02] dforbush2 commented on #322
Hello,

I have reviewed the indicated sections and you are correct. It appears that the loop beginning on line 109 (that loops through the number of bodies) is repeated in a few other places wherever calculations are specific to particular bodies, but is not properly included in the "reading Kochin files" section.

I'll take a look at this code and push an update once corrected.

I also agree with

[2019-11-13 11:11] crobarcro commented on #322
Yes I suggest something really obvious like `bodyind` for bodies etc, while verbose, makes spotting errors like this much easier.

[2019-11-13 20:43] frrfrz commented on #324
Thanks for the fast response, so to make a validation i should take T,H and PTO damping coefficient from [1](table9) and the drag coefficients from [2], right?
-Do you think is also needed to model the mooring lines with MoorDyn?
-Can i use the .h5 file of the RM3 tutorial or Should i create a new .h5 file using a water depth=49.5?
-After the wecsim simulation is run i take the relative motion fro

[2019-11-19 20:21] #323 closed

[2019-11-19 20:24] kmruehl commented on #323
@crobarcro Thank you very much for catching this bug and for the suggested revision. Your suggestion for handling the `meshdir `and `resultsdir` is _much_ cleaner, so I went ahead and implemented it in `READ_NEMOH.m`. Please let me know if this resolves this issue. We are aware of your other open issue and are in the process of resolving it as well. Thank you!

[2019-11-24 21:46] yuyihsiang commented on #324
We also have done the validation study again in 2018. You can find details in
Yu Y.-H., Tom N., and Jenne D., 2018, “Numerical Analysis on Hydraulic Power Take-Off for Wave Energy Converter and Power Smoothing Methods,” 37th International Conference on Ocean, Offshore and Arctic Engineering, OMAE, Madrid, Span.

-Do you think it is also needed to model the mooring lines with MoorDyn?
You can also

[2019-11-26 04:42] uzayr123 opened #325 "Nemoh - Hyrdostatics Gen with workflow"
Currently unable to generate Hydrostatics.dat and KH.dat files required by WEC-Sim, because I'm not using NEMOH to generate the mesh in the first instance. My workflow is as follows :
Generate mesh in SALOME > Export with quads as .dat > convert to format readable by nemoh via converter script from NEMOH toolbox > run NEMOH on that file

Kwadl provided a toolset in #286, but I'm trying to avoid co

[2019-11-26 23:58] yuyihsiang commented on #321
1. -0.2 is from the reference point

2. simu.explorer does not include the mooring line. Regarding Paraview, you should be able to see the mooring line. You may want to check if you find additional mooring output files.

Yi-Hsiang

[2019-11-27 11:01] ammar-alfaili opened #326 "Tutorial using Nemoh in Matlab"
Hello

I want to simulate wave forces on a cylinder in Nemoh. I wanted to see if anyone can guide me since it is the first time i am doing this, implementing/using  Nemoh in Matlab.

thank you in advance

[2019-11-27 16:27] yuyihsiang commented on #325
You can run Mesh.exe to generate the Hydrostatics.dat and KH.dat files. What you need to do is to

- Change the Mesh.cal "Target for the number of panels in refined mesh" to the number of the panel you have in your mesh file.

- Rename and modify your mesh file "mesh_file_name.dat" to a mesh file as described in  the "Mesh generation using the Mesh code" section in https://lheea.ec-nantes.fr/logic

[2019-11-27 16:30] yuyihsiang commented on #326
See the example from Nemoh Website
https://lheea.ec-nantes.fr/logiciels-et-brevets/nemoh-examples-192931.kjsp?RH=1489593406974

You should be able to modify the example and may answer your questions.

Yi-Hsiang

[2019-11-27 18:30] ammar-alfaili commented on #326
yes, I have seen that example but I still don't know how to use Nemoh in matlab. That's the main problem.

\Ammar

[2019-11-29 11:42] RaymondValentine opened #327 "Array WECs model establishment"
Hello, I am studying array wave energy device analysis from the following paper：
[1] Mankle, Hannah, Yi-Hsiang Yu, and Bryony DuPont. WEC-Sim Array Development and Experimental Comparison Study. No. NREL/CP-5000-74083. National Renewable Energy Lab.(NREL), Golden, CO (United States), 2019.

I would like to ask if additional damping and joint constraints need to be added to each float when calculat

[2019-12-03 19:58] sricharanvvs commented on #321
Thank you for the response.
My other query:
1.I am working on multibody WEC where in Aqwa the effect of  body interactions was considered while calculating hydrodynamic parameters. Should I still include body to body interaction 'b2b' line in the input file?
I have tried giving it but showed an error.
I have 9 bodies in total.. how should I use this 'b2b' in this case if I need to include it?

Reg

[2019-12-04 00:13] dforbush2 commented on #322
Read_Nemoh has been updated so that the Kochin function handles multiple bodies and wave headings.

[2019-12-17 18:37] avidortelem opened #328 "dof bemio wamit"
Hello,

I am new to wecSim and I try to use bemio for my wamit files.

The Read_WAMIT function runs without error but after I have an error on the function Radiation_IRF (row 39).

Indeed this function try to read the damping coefficient B on every DOF as can be seen in the folllowing code extract:
(begin of extract)
for i = 1:sum(hydro.dof);
        for j = 1:sum(hydro.dof);
            ra_B = in

[2019-12-18 23:13] avidortelem commented on #328
I actually have the same issue with Read_Nemoh

Br

[2019-12-18 23:42] kmruehl commented on #321
@sricharanvvs we would _not_ recommend turning the b2b option for 9 bodies.

[2019-12-18 23:42] #321 closed

[2019-12-18 23:43] kmruehl commented on #322
@crobarcro did this update resolve your issue?

[2019-12-18 23:43] #322 closed

[2019-12-18 23:44] #325 closed

[2019-12-18 23:47] yuyihsiang commented on #326
Unfortunately, we only provide an interface with Nemoh, and this is a question for Nemoh.

[2019-12-19 00:03] yuyihsiang commented on #327
I believe we first tuned the model for a single device with linear damping and you can find details in
Tom, N., Ruehl, K., & Ferri, F. (2018). Numerical Model Development and Validation for the WECCCOMP. 37th International Conference on Ocean, Offshore and Arctic Engineering. Madrid, Span: OMAE.

Then, we use the model to run the array case.

Yi-Hsiang

[2019-12-19 00:08] kmruehl commented on #328
@avidortelem since WEC-Sim is a 6DOF solver we require the BEM solution to be 6x6xNf. If you are only interested in the surge response of a device, we recommend running the BEM solution in 6DOF, but then constraining the device's response to surge motion only in WEC-Sim. This can be done in WEC-Sim using `Constraints`, read here for more info: http://wec-sim.github.io/WEC-Sim/code_structure.html#c

[2019-12-19 00:08] #328 closed

[2019-12-19 04:00] sricharanvvs opened #329 "Error in Read_AQWA (line 178) ind = tmp1(1:2); tmp1(1:2)=[];"
Hi,
When I am reading AQWA files in BEMIO the error shown below pops up.
Can anyone help me to understand why this error is popping up?
I dont think either of .AH1 and .LIS files are not corrupted as they show the data when I open it unlike a garbage data, what could be the reason for this? Please help in sorting out this ASAP.

 Is this due to more number of bodies? Is there any limit?
Thank YOU.

[2019-12-19 04:09] #329 closed

[2019-12-20 14:52] sricharanvvs commented on #284
![Screenshot (89)](https://user-images.githubusercontent.com/51389362/71262124-f7d73780-2364-11ea-8e8b-38afb8725c6b.png)
Hi,
I am getting this error while running the RM3_MCR
I have entered wecSimMCR in the command window once. That's it.
where am I going wrong?

For my own model, I getting this error. I have enabled this line in the input file simu.reloadH5Data =1 in my model.

![Capture](https:/

[2020-01-02 19:05] cadu55br commented on #326
I created a MATLAB script for a Vertical Cylinder with Flat bottom (VCF_Tutorial_Arnal_axiMesh_Nemoh_Bemio.m), based on the presentation "NEMOH: a tutorial using the Matlab wrapper", by Vincent Arnal, 11-2014 (arnal.vinc@gmail.com). See attached.
I hope it can help you. Good luck!
Carlos

[Example of MATLAB script for running NEMOH.txt](https://github.com/WEC-Sim/WEC-Sim/files/4017019/Example.of.M

[2020-01-03 22:11] kmruehl commented on #326
@cadu55br thank you for providing this example.

[2020-01-03 22:11] #326 closed

[2020-01-06 12:33] ammar-alfaili commented on #326
Hello Carlos

Thanx a lot. This was very helpful. I appreciate it.

Best regards

Ammar

________________________________
Fra: Carlos Silva <notifications@github.com>
Sendt: 2. januar 2020 20:05:03
Til: WEC-Sim/WEC-Sim
Cc: Ammar Galib Al-Faili; Author
Emne: Re: [WEC-Sim/WEC-Sim] Tutorial using Nemoh in Matlab (#326)

I created a MATLAB script for a Vertical Cylinder with Flat bottom (VCF_Tutorial_

[2020-01-10 17:16] frrfrz opened #330 "Nemoh results from tutorial\bemio\rm3"
Hello, i am trying to replicate the the same test using nemoh, but i am not able to get the same results, running mesh.exe i obtain the same hydrostatics and kh results but when i run preprocessor.exe, solver.exe and postprocessor.exe i obtain some completely different results. I suppose that the problem could be my mesh, are there any ''rules'' for creating the nemoh mesh?
I create the mesh with

[2020-01-13 16:49] zmorrell-sand commented on #316
Jenkins is now set up to poll the repository every hour to rebuild.  At the time of writing for this comment, the test cases are deprecated and do not run, but Jenkins is operable.  When the tests are fixed, I will have Jenkins begin sending failure notifications to @kmruehl

[2020-01-13 19:37] Getmoreter opened #331 "Need help in modeling of the original WEC concept"
Hello everybody!
I am developing an original concept of a wave energy converter and would like to find a person who can help with drawing up a quality model. I am new to programming and run into problems in almost everything. An additional difficulty is that I have not seen mechanics similar to my concept in any other converter and I can not even imagine how to describe it in the simulator. If you

[2020-01-14 16:22] sugarl14 commented on #287
@rjan727 Hey there! I seem to be having a similar issue. Would you mind emailing me and we can possibly set up a time to talk about it together? I'm sure I'm going through similar issues that you may have already answered! My info is SugarL14@students.ecu.edu

Thanks!!

[2020-01-15 18:02] kmruehl commented on #331
@Getmoreter this is an issue board for the WEC-Sim code, so we cannot provide support unless it's directly related to the use and application of WEC-Sim.

[2020-01-15 18:02] #331 closed

[2020-01-15 18:33] yuyihsiang commented on #327
Hope that answers your question. Let us know if you need us to reopen this one.

[2020-01-15 18:33] #327 closed

[2020-01-15 18:33] kmruehl commented on #316
@zmorrell-sand I'll work on updating the test cases.

[2020-01-15 18:37] yuyihsiang commented on #330
I was trying to run you BEMIO to check it, but it can not find the hydorstatic.dat file.

Yi-Hsiang

[2020-01-15 19:01] frrfrz commented on #330
I am sorry i forgot to attach that file, now in the attachments you will find the folder ready to run with bemio. Thank you very much.
[nemoh.zip](https://github.com/WEC-Sim/WEC-Sim/files/4066894/nemoh.zip)

[2020-01-15 21:50] kmruehl commented on #316
I updated the verification file

[2020-01-15 21:50] #316 closed

[2020-01-16 21:25] DavidTran2008 commented on #330
Hi frrfrz,

As the official NEMOH release has not been implemented irregular frequency removal functionality, your issue is likely caused by this function rather than mesh resolution. However, higher mesh resolution could somewhat avoid irregular frequency issue as well. You can take a look at the attached file for details.

Regarding irregular frequency removal functionality, you may want to try

[2020-01-16 21:47] frrfrz commented on #330
Hello, Toan, Thank you so much for the fast response and you time, i am going to make one last attempt using an higher mesh resolution, and if this way doesn't work i ll try with openWARP. I ll keep you updated.

Thank you
Fabrizio

[2020-01-16 22:48] frrfrz commented on #330
Just one last question, i can't understand why using the same nemoh.cal input file (so same frequency range and step) and the float.dat and spar.dat from the tutorial  the result that i obtain are good. Thank you

[2020-01-16 23:47] TTToan2008 commented on #330
If I understand correctly, you meant that you obtained a good agreement (no spike) between WAMIT and NEMOH using inputs from WEC-Sim repository. If so, which NEMOH version are you using? Did you include IRR function or other?

By the way, I just ran NEMOH simulation using exact **inputs from NEMOH folder** of WEC-Sim repo plus **your NEMOH mesh**. The result looks pretty good (attached figures) an

[2020-01-17 14:37] frrfrz commented on #330
Yes my problem is that if i run nemoh with the mesh from wecsim\tutorial\bemio\rm3 i obtain the results that you posted above, but if in the same folder i run nemoh with my mesh and then i run bemio i obtain different results.
![image](https://user-images.githubusercontent.com/57464560/72619971-6bd91100-390c-11ea-80bf-216c052b3fce.png)
![image](https://user-images.githubusercontent.com/57464560/72

[2020-01-21 14:49] frrfrz commented on #330
P.S. I am running nemoh through the command window, i run mesh.exe separately fot the two bodies and then i just run prprocessor.exe, solver.exe and postprocessor.exe through a .bat file. You can find everything i use inside the folder i sent you.

[2020-01-22 15:58] sugarl14 commented on #211
Hey Kelley,

I know this is a pretty old post, but I have a couple questions about it:
1) Are there any new links that you are aware of that answer @waveenergyharnessingdevice 's question (particularly using AQWA)?
2) if not, I believe the second hyperlink you posted is broken. Is there any way you could send me an updated link?

Thank you!
Landon

[2020-01-22 22:34] kmruehl commented on #211
We provide examples running BEMIO for WAMIT, AQWA and NEMOH.

1. The BEMIO documentation is available here: http://wec-sim.github.io/WEC-Sim/advanced_features.html#bemio-functions
2. The examples using BEMIO for WAMIT, AQWA and NEMOH arehere: https://github.com/WEC-Sim/WEC-Sim/tree/master/examples/BEMIO

[2020-01-22 22:34] #211 closed

[2020-01-23 01:09] TTToan2008 commented on #330
Hi,

Sorry for my late response.
I think your mesh has an issue. As you look at meshes displayed in Meshmagick tool, your mesh resolution is really small at heave plate of spar part.  I think this is the reason why there are so many spikes in the results either NEHOH or WAMIT (WAMIT result showed in the previous file looks cleaner). Therefore, I would recommend that you should avoid different mesh

[2020-01-23 20:30] Yifan2020 commented on #287
Excuse me, can you tell me how you add WEC-Sim to your startup.m file path? Thanks.

[2020-01-23 20:32] Yifan2020 commented on #287
@rjan727 My email address is yifanluo2018@gmail.com. can you send how you add WEC-Sim to your startup to your startup.com file path? thanks.

[2020-01-23 23:26] nathanmtom commented on #287
@Yifan2020 can you confirm you have followed the steps listed on the "Getting Started  http://wec-sim.github.io/WEC-Sim/getting_started.html ? Perhaps you can clarify if you are unable to open the startup file or do not understand which lines of code to include?

[2020-01-23 23:36] Yifan2020 commented on #287
@nathanmtom
I am on the step:
"Copy the code in the 'wecSimStartup.m' shown above and paste it into the 'startup.m' file located in the MATLAB Startup Folder. Set the 'wecSimPath' variable to the '$wecSim' folder and open the 'startup.m' file by typing 'open startup.m' into the MATLAB Command Window:"
I do not know where to find the startup.m or create the startup.m. I tried to create the 'startup

[2020-01-23 23:43] crobarcro commented on #287
at the matlab command prompt type

`userpath`

whatever location this tells you then, put startup.m there

This is explained here: https://uk.mathworks.com/help/matlab/ref/startup.html

[2020-01-24 16:57] Yifan2020 commented on #287
@crobarcro Thank you very much. I made it.

[2020-01-26 22:25] crobarcro opened #333 "most recent failed build results clogging commit history, and my feed."
It seems someone has set up Jenkins to commit the most recent failed build to the WEC-Sim repo. This will spell doom for the WEC-Sim commit history, and also pollutes the feed of anyone following the project.

In any case this is not the type of thing one should be committing to the repository, the repository should be for code not transitory data or info.

[2020-01-27 19:30] frrfrz commented on #330
Hello Toan, with your suggestion everything works. I am not sure if the problem was caused just by the heave plate side, anyway i ve changed that mesh and also aligned the vertical lines of the spar mesh and float mesh.
![thickplatebad](https://user-images.githubusercontent.com/57464560/73206751-7ddb6080-4111-11ea-9c9f-aa71abc4ad29.JPG)
![thickplategood](https://user-images.githubusercontent.com/5

[2020-01-28 16:05] frrfrz commented on #324
Dear Dr. Yu, I am not sure about how to build the mooring matrix using the data from [1] test #3.
Can you please provide me some references to understand that or, if you have it, the wecsim input file for that test? In this way i could see the mooring matrix and trying to understand how is built.
I want to run my own test on wecsim in order to obtain the results of test #3 and insert this validati

[2020-01-29 23:23] #330 closed

[2020-01-31 20:13] #287 closed

[2020-02-03 13:45] avidortelem opened #334 "only names in bodiesOutput"
Hello,

I am new to WEC SIM and I try to play a bit with the tool to understand how it works,

I often have the following error when I run some models:

When I run wecSim it looks to work (the system has a  movement in the visualisation)

until the error in responseClass.m row 40 , the bodiesOutput is only a 1*2 struct, there are only the names. (no time, no signals, etc...)

What could explain th

[2020-02-05 14:14] sugarl14 opened #335 "Can WEC-Sim be used for Control Systems?"
Using WEC-Sim, can I figure out the plant variable that represents the system of the WEC? I want to simulate an MPC controller in MATLAB/Simulink that controls a WEC, and was curious if WEC-Sim can provide the information needed for the plant variable.

![question](https://user-images.githubusercontent.com/57150958/73849203-8578c480-47f7-11ea-9107-2deb71367721.JPG)

[2020-02-05 23:16] kmruehl commented on #333
@crobarcro we are aware of this issue, and are in the process of streamlining the Jenkins build failure reports so that it doesn't clog the commit history. These commits should be squashed now. Our apologies for the inconvenience.

[2020-02-05 23:16] #333 closed

[2020-02-06 10:57] ttosdevin opened #336 "MoorDyn on Linux"
Hi,

I'm trying to run WEC-Sim with MoorDyn on a Linux machine and have followed the step suggested in issue #269 of changing line 88 in mooringClass.m to:
obj.moorDynInputRaw = textread('./Mooring/lines.txt', '%s', 'delimiter', '\n');

But I get the following error message:

 Running MoorDyn (v1.01.00C, 2016-04-20)
   Copyright (c) Matt Hall, licensed under GPL v3.
   Creating mooring system.  3

[2020-02-06 18:25] nathanmtom commented on #335
@sugarl14 Thank you for your question. If I may first ask a clarifying question, is it your desire to obtain a linear state space representation of the device plant model? or are you asking if WEC-Sim can model the dynamics of the device plant model?

If your question is in reference to a linear state space representation, the answer would be not directly. WEC-Sim does contain all the information

[2020-02-09 23:36] yuyihsiang commented on #324
To answer your question:
1. It makes sense to me.

2. Please check the example on http://wec-sim.github.io/WEC-Sim/advanced_features.html#viscous-damping-and-morison-elements

3. Both 1-DOF and 3DOF. You can also see. An updated validation study was presented at
Yu, Y.-H., Tom, N., & Jenne, D. (2018). Numerical Analysis on Hydraulic Power Take-Off for Wave Energy Converter and Power Smoothing Meth

[2020-02-10 00:02] yuyihsiang commented on #336
I noticed that you have "Mooring" instead if "mooring"

Not sure if that is the issue

Yi-Hsiang

[2020-02-10 00:38] frrfrz commented on #324
Dear Dr Yu,

Thank you so much for your reply and your patience. Now i should be able to proceed with my calculations.

Fabrizio

[2020-02-10 12:12] ttosdevin commented on #336
Thanks for the quick reply, if I keep the folder name as "mooring" lower
case I get the below error, the same as from issue #269
"Error in 'RM3MoorDyn/MoorDyn': Initialization commands cannot be
evaluated."

The advice from that issue was to change the folder name to upper case and
replace any lower case "mooring" in reference to the lines.txt folder to
upper case "Mooring" in responseClass.m and

[2020-02-11 14:03] siya-jin opened #337 "mass matrix"
Hi,
I am looking at an unsymmetrical hinged-raft device which has nondiagnonal elements in the moment inertia.
It seems that in WEC-Sim the moment inertial can only be given for the diagonal term of Ixx Iyy and Izz. May i ask does WEC-Sim ignore the nondiagnonal elements? How about the nondiagnonal effects of added mass and radiation damping of Ry to X, Y and Z directions...

Thanks a lot

[2020-02-11 17:04] dforbush2 commented on #337
Hello,
Because WEC-Sim solves body dynamics about the body center of mass, it is convenient to describe mass/inertia as a diagonal matrix in terms of principle inertias about principle axes X, Y and Z that are mutually perpendicular and coincident with the body center of mass.

However, the added mass and radiation damping matrices are 6 x (6*N), where N is the number of bodies included in the bou

[2020-02-11 18:16] siya-jin commented on #337
Hello,

Thanks for your information. Do you mean WEC-Sim do keep the non-diagonal terms of added mass and radiation damping? But referring to the bodyClass.m file, in the 'adjustMassMatrix' function, it seems that only the diagonal items of the added mass are merged into the mass matrix. This makes me confused..
From your experience, will ignoring the non-diagonal items of the inertia for a unsymm

[2020-02-12 18:55] dforbush2 commented on #337
Hello,

Please see previous issue #161 as it may answer your question in more detail.

[2020-02-12 22:27] Tudore opened #338 "coordinate system"
Hi, may I check with you if I have several bodies, what are the coordinate systems for motion descriptions? In other words, are the output motions with reference to the global system or local systems?

Thanks！

[2020-02-14 16:53] sugarl14 commented on #329
Do anyone have any tips for figuring this out? I am having the same issue.

![image](https://user-images.githubusercontent.com/57150958/74551081-8ceb4c80-4f20-11ea-81ae-9449b68248a4.png)

[2020-02-14 17:29] sugarl14 opened #339 "Error Reading AQWA's .LIS and .AH1 Files"
Hi,

I have been performing an analysis on a rectangular box (just to get the hang of WEC-Sim), and I am having an issue with MATLAB reading the .AH1 and .LIS output files. I have read through the other similar issues that others have had with this problem, (such as #295  ) but still can't seem to figure mine out. I increased the number of wave frequencies to 50, with 4 total wave directions. Stil

[2020-02-17 08:13] NLWaves opened #340 "Error in Test of Installation"
Hi There, I have the following error when running the installation test. I am attempting to run

and then I get:

Failed to load library 'WECSim_Lib_2015b' referenced by
    'RM3/Float/Hydrodynamic Body/Kinematic Transforms/No
    B2B/nonLinYaw kinematic transforms'
    Error using wecSim (line 291)

Versions are as follows
WEC-Sim v4.0 (Latest version fromgit clone)
MATLAB Version: 9.7.0.1296695

[2020-02-17 17:29] kmruehl commented on #339
@sugarl14 Thanks for attaching your AQWA files. We will look into this issue. It looks like you're running AQWA 18.1.00, is that correct?

[2020-02-17 17:33] kmruehl commented on #338
The WEC-Sim coordinate system is defined here: http://wec-sim.github.io/WEC-Sim/theory.html#coordinate-system. The global coordinate system has its origin at the still water line. Output for each body are defined relative to a body-fixed coordinate system with its origin at the body's cg.

[2020-02-17 17:33] #338 closed

[2020-02-17 19:44] sugarl14 commented on #339
Version 18.1 is correct!

[2020-02-18 17:03] dforbush2 commented on #340
Hi NLWaves,

Thank you for your timely post!
The commit 3feefae on Feb 14th had a broken library link causing the error you described.

This has been fixed by commit a187e57. Please pull the new update and let us know if you encounter further issues.

[2020-02-18 18:23] dforbush2 commented on #339
Hi @sugarl14 ,

I had a look at your aqwa files. This version of AQWA has keywords like "COG" and "DRAFT" in commented sections of code. The Read_AQWA parser presently cannot distinguish between the commented remarks and the definitions of these quantities, and this leads to your error. While our approach has been robust for other versions of AQWA, it appears that it is not for 18.1.00. Thank you

[2020-02-18 18:29] sugarl14 commented on #339
Thank you so much for your help! I look forward to hearing back from you soon.

-Landon

[2020-02-18 23:03] #340 closed

[2020-02-18 23:27] #337 closed

[2020-02-18 23:29] #335 closed

[2020-02-18 23:30] #324 closed

[2020-02-19 15:51] sugarl14 commented on #339
Out of curiosity, what do you think the timeline for this bug fix would be? Also, what previous versions of AQWA are compatible with WEC-Sim? I may be able to obtain an older version from my university.
Thanks!

Landon

[2020-02-19 16:15] dforbush2 commented on #339
Hi Landon,

In this particular case, you would likely be better off either re-running AQWA such that your output files more closely resemble those found in the /examples/BEMIO/AQWA/Example folder and then running Read_AQWA.m. Unfortunately, I do not have access to AQWA so I can't offer much specific advice, but there are a large number of user-specified options in AQWA that affect output file stru

[2020-02-19 20:16] kmruehl commented on #334
@avidortelem Thank you for your question and my apologies for the delay in response. Could you please upload a ZIP file with this WEC-Sim model so that I can resolve this issue? Thank you.

[2020-02-20 03:43] NLWaves commented on #340
Thank you for your hard work
Its functioning perfectly now!

[2020-02-20 10:52] avidortelem commented on #334
Thanks !

I update an example in ZIP.

I use my nemoh outputs on a plate to run WECSIM with a surge constraints.

I use the flap geometry just for the visualisation.

I don't know if the error comes from my nemoh outputs or from something else..

Thanks again
[model.zip](https://github.com/WEC-Sim/WEC-Sim/files/4230278/model.zip)

[2020-02-20 16:17] sugarl14 commented on #339
Thank you so much @dforbush2 for your help!! I'll look more into that later on today and let you know if I come across any more issues. Thank you!

[2020-02-27 20:53] #339 closed

[2020-03-03 09:20] avidortelem commented on #334
Hi,

I did the simulation with hydrodata from wamit files and the error is still here...

Br T

[2020-03-03 10:07] avidortelem commented on #334
An other remark:

If I modified the OSWEC tutorial to make {FLAP+BASE} move surge according to global frame --> IT WORKS

If I built EXACTLY the same model but I do it manually from scratch --> it DOES NOT work

Crazy..

[2020-03-04 11:24] bowdena3 opened #341 "Applying control system to WEC-sim"
Hi,

I am new to WEC-sim and I wanted to know if it is possible to apply a control system to WEC-sim in the Simulink model, or does the BEM model need to be re-ran if i wished to change the damping for different wave inputs?

If I can apply control would I just add a controller subsystem linked to the PTO and is it possible to simulate latching control?

Thanks for the help!

[2020-03-04 18:02] dforbush2 commented on #341
Hi @bowdena3 ,

Because WEC dynamics are solved in the time domain via Cummins formulation, the PTO force is calculated separately from the hydrodynamic coefficients determined from BEM, so I don't see a reason to re-run the BEM model for different values of PTO damping, provided that you have hydrodynamic coefficients calculated over a sufficient range and resolution for the simulated wave states

[2020-03-04 21:59] sugarl14 commented on #339
Hi @dforbush2,

I was able to acquire AQWA Version 16.2 from my university. Do you know if WEC-Sim be compatible with this version?

[2020-03-04 22:09] dforbush2 commented on #339
Hi @sugarl14

As mentioned, your AH1 file was really strange. I'm not sure that it was a version issue...more of a quirk of your particular run settings in AQWA. It's worth a try in another version. I recommend looking at the AH1 files in the BEMIO examples and seeing their general format, and trying to tailor the settings of your AQWA run to generate something similar.

[2020-03-04 23:31] yuyihsiang commented on #336
After spending some time with Matt, the moorDyn developer, we finally track down the issue and have a potential solution for you.

First, this is a moorDyn issue and only happens on Linux (not on a Mac). We were able to reproduce your issue. Unfortunately, we are unable to resolve this IO issue directly, but we will try to fix it later when we update the moorDyn for WEC-Sim.

Having said that, you

[2020-03-05 19:54] bowdena3 commented on #341
Thank you for the help, this is really useful!

[2020-03-06 13:01] ttosdevin commented on #336
Great, thanks!
Changing the Flags/Outputs resolved the issue.

Tom

On Wed, 4 Mar 2020 at 23:31, yuyihsiang <notifications@github.com> wrote:

[2020-03-06 14:57] #341 closed

[2020-03-08 17:58] frrfrz opened #342 "Power extraction"
Hello,

I did some power extraction analysis using the Eureka scatter diagram from Reference Model Project and a BS spectrum, i ran a first set of test using the mooring lines from the MoorDyn tutorial, and a second set of test without mooring lines and with 6 DOF. I've obtained an AEP value of 708 MWh for the first set of test and 671 MWh for the second one. What this difference in power can be a

[2020-03-10 13:11] avidortelem commented on #334
Hello @kmruehl do you have an idea when you look at the pictures above ?

Sorry to notify you but I really don't understand and I am block :/. I compared all the inputs (body, simu, waves, etc..)  when I run the simulations and there is no differences, so I really think the error comes from the simulink models.

Br T

[2020-03-10 19:53] yuyihsiang commented on #342
Hi,

It can be several reasons:
- Did you use waves.phaseSeed = <specific number>. If not MATLAB will randomly choose the random seed and will result in different irregular waves, which will lead to a different solution. The difference will depend on the length of the simulation time.
- Effect of mooring may also have some influence on the response of the system

Yi-Hsiang

[2020-03-10 21:21] dforbush2 commented on #334
Hi @avidortelem

I'm new to your issue, but the little chain thing you have pointed out means that the block is "library linked" and it is referencing the WEC-Sim simulink library.

The fact that your "from scratch" simulink model does not have this could explain why your output file has only names if the link is somehow broken. I unfortunately cannot open your simulink model, as it is in 2019b. C

[2020-03-10 22:44] #336 closed

[2020-03-11 11:26] avidortelem commented on #334
Hi @dforbush2 ,

Thanks for your answer.

I put enclosed a zip of the model.

There is several simulink models and we can see that according to the one we choose the simulation works or no:

- one simulink model made from OSWEC --> WORK
- the same one made from scratch --> DOES NOT WORK
- the same one made from scratch same in previous version (can you open it now ?) --> DOES NOT WORK
- the same o

[2020-03-11 14:25] dforbush2 commented on #334
Hi @avidortelem ,

I was able to replicate your error using my own clone of the repository. Thank you for bringing this to our attention.

We have identified an issue with the library link that is causing this error, and are working on a fix. In the meantime, I would recommend copy/pasting the necessary blocks from a tutorial/example or applications case (https://github.com/WEC-Sim/WEC-Sim_Applica

[2020-03-12 14:58] avidortelem commented on #334
Thank you very much ! I succeed to make it work now.

PS:
It seems that it works when I use the simulink file of a tutorial, whatever if it is my block or not.
If I use a new blank simulink model and I copy the block from the tutorials, it doest not work.

Br T

[2020-03-12 15:48] avidortelem opened #343 "limit range of motion"
Hello,

My current model is

1 body ( a plate )  + 1 translational pto (surge)  + Seabed (global frame)

Thanks to the translational pto, the plate is already constraints in surge motion, it is what I would like so nice.

But I would like to limit this range of motion, so the plate can only move between x1=-0.5m and x2=0.5m for example.

There is the possibility of doing as in the tutorial, puttin

[2020-03-14 15:36] frrfrz commented on #342
Hello Yi-Hsiang,

thanks, as always, for your precious help, my waves charachteristics are the followings:

         waves = waveClass('irregular');         % Initialize Wave Class and Specify Type
         waves.H = 5.25;                         % Significant Wave Height [m]
         wavesT = waves_T_values(iteration_number);
         waves.T = wavesT;                       % Peak Period [s]

[2020-03-15 16:57] bowdena3 opened #344 "Error Running NonlinearControls"
Hi,

I have been having some problems with the period sensor in the NonlinearControls section of the WEC-sim applications.
I am currently trying to apply a control system to the OSWEC example model and I tryed to use the sensor from the NonlinearControls applications. The issue is that running my model with the period sensor creates the following error with the sizing function:

       _Error in p

[2020-03-15 19:50] #344 closed

[2020-03-16 16:10] yuyihsiang commented on #342
I think 1000 s with 3 realizations should be fine. For consistency purposes, I would also recommend you set waves.phaseSeed = values(iteration_number); and this iteration_number changes for different sea states as well.

For your question regarding AEP value, it is possible that 1DOF gives you lower AEP. Theoretically, 3DOF may let you obtain higher AEP. However, this depends on the cases.

Yi-Hsi

[2020-03-16 16:15] frrfrz commented on #342
Ok, Thank you so much for your time!

Fabrizio

[2020-03-16 16:44] yuyihsiang commented on #343
I think you can use the translation PTO joint with "force input and velocity output" and develop an end-stop controller block that connects to it to limit the motion.

Yi-Hsiang

[2020-03-16 17:07] avidortelem commented on #343
Hello @yuyihsiang

Thank you for the help.

I am completely new to simulink so I am not totally sure.

Does "Translation PTO joint" = Translational PTO Actuation Motion ?

and "develop an end-stop controller block " is a subsystem that should be connected to it and develop to analysis position / velocity and changed it if necessary ?

I put enclosed an picture with the my current model (translatio

[2020-03-16 21:58] ghleila opened #345 "Calling wecSim in a function"
Hello,

I'm trying to call wecSim in a function but it ends up with the following error:

 _**Error using wecSim (line 259)
    Variant control 'sv_b1_hydroBody' of variant block 'powerflow_v2/Rigid Body' must be a condition expression or name of a Simulink.Variant object in the global
    scope workspace of the model. Ensure that the condition does not match the model name.**_

This happens when

[2020-03-17 09:28] avidortelem commented on #343
Hello @yuyihsiang ,

Thank you very much for your help.

Is the figure below shows well what you suggested ?

If yes, I don't really know how to buildt the end stop controller.

Indeed what I would like to do is :

if x<xmin, then x=xmin and velocity=0.
if x>xmax, then x=xmax and velocity=0.

Then it would implied to modify position and velocity, but here the end stop controller output is the forc

[2020-03-17 12:59] frrfrz commented on #342
Just one last doubt, you said: " it is possible that 1DOF gives you lower AEP. Theoretically, 3DOF may let you obtain higher AEP. However, this depends on the cases". Why do you think this happens? i would have expected to obtain an higher value of AEP without mooring in 1DOF, i thought about this as an ideal case.

[2020-03-17 18:43] dforbush2 commented on #343
Hi @avidortelem,

True endstops can be a little tricky to model because they are a sharp discontinuity in velocity, but we typically prescribe a force. In terms of algorithms, I would recommend having a large damper and spring with an engagement length just a little longer than where you want the hard endstop to be (using your example numbers: maybe x=-0.49 m on one end and x = 0.49 on the other).

[2020-03-18 09:11] avidortelem commented on #343
Thanks very much  @dforbush2 !

Ok I did get that it was an additional force in the PTO block. Got it now and indeed it could be used for the end stop :).

My PTO is a linear one modeled with a stiffness Kpto =0 and a damping Cpto which depend on the wave but the value is usually around 10^5 Ns/m. The added mass of the plate is also around 10^5.

The plate hits the end stop (then some energy loss

[2020-03-18 20:15] avidortelem opened #346 "where are RM3/OSWEC wamit files ?"
Hello,

The first time I installed WECSIM I remember that the wamit files of the tutorials were available.

Since I cloned wecSim from GitHub there are not here anymore.

Where can I found them ?

I am trying to find them to see how multiple bodies should be run in wamit, is the generalised modes option available in wecsim ?

Best,

[2020-03-18 20:59] yuyihsiang commented on #342
First, congratulations on your graduation and good luck.

Theoretically, more than one DOF can give you move power "if you can capture that", see Falnes' Ocean Waves and Oscillating Systems book in Chapter 6.

[2020-03-18 21:54] kmruehl commented on #346
@avidortelem they are available here: https://github.com/WEC-Sim/WEC-Sim/tree/master/examples/BEMIO

They've been moved from tutuorials to examples.

[2020-03-18 21:54] #346 closed

[2020-03-18 22:10] kmruehl commented on #345
@ghleila that error is related to the initialization of the variant subsystems in WEC-Sim. This looks  similar to issue #298 that you previously posted, that was resolved in issue #301. I think the problem is related to line 39 of `wecsim.m`. I recommend iterating through the diary log, similar to issue #301, or modifying line 39 of `wecsim.m`.

[2020-03-18 22:13] #343 closed

[2020-03-21 05:08] lethai3 opened #347 "[RM3][desalination] Questions about instabilities in a customized model"
Hi Wec-Sim team !

I hope everything is going well, despite the current Coronavirus situation...

I am trying to learn how to use WEC-Sim. More specifically, I wanted to model a reverse osmosis system with an absorber type RM3. (Most of the code has been naturally inspired by your recent desalination upload as well as the related NREL published papers).

Unfortunately, my solution presents an inst

[2020-03-23 20:30] nathanmtom commented on #334
@avidortelem Thank you for your patience awaiting our response to the issue you have raised. After further investigation, the WECSim team identified the issue is with the default parameters set in the "Model Configuration Parameters" by MATLAB. Starting in MATLAB 2019a a newly created .slx file will have a check box titled "Single Simulation Ouput" checked which causes the issue that you submitted

[2020-03-24 09:29] avidortelem commented on #334
Hello,

It seems to work now for me. Thanks you very much for your help :) !

[2020-03-24 14:50] dforbush2 commented on #347
Hi @lethai3

Is it possible to re-upload your model, exported as 2019a or earlier? I would like to help but I am unable to open your model.

https://www.mathworks.com/help/simulink/ug/saving-a-model.html#f2-86382

Best,
Dominic

[2020-03-24 15:05] #334 closed

[2020-03-24 15:05] lethai3 commented on #347
Hi Dominic,

Thank you very for your consideration!! Here is the model with the 2019 simulink version (called MyDesignRO_v2019).  Please tell me if you encounter other versioning issue ...

Have a nice day and stay safe !

Remi

[MyRM3_RO_v2019.zip](https://github.com/WEC-Sim/WEC-Sim/files/4376015/MyRM3_RO_v2019.zip)

[2020-03-24 15:57] dforbush2 commented on #347
It seems both of the uploads are missing a file, motorEff, that it needs to run?

[2020-03-24 16:33] lethai3 commented on #347
Hi Dominic,

Sorry to read this. I am a little confused because the program should not use “motorEff” to run, normally… Maybe it is because I only use the files located in this folder.

In the link below, I have taped the opening of the files on my computer, if needed. The quality is bad sorry by advance …
https://drive.google.com/a/berkeley.edu/file/d/14YIadfXBiXH8wjx8gvCsJmMP8VBFIuVE/view?usp=sh

[2020-03-24 19:15] dforbush2 commented on #347
I was able to make your model run by commenting lines 39 on of ptoSimInputFile.m and replicated your results. You must have had the necessary files (motorEff) to run the un-commented version somewhere in your matlab search patch, but you're correct in that these files are not needed to run the simulation.

Firstly, I would recommend that you re-visit the PTO-sim documentation...it seems you are tr

[2020-03-24 21:49] lethai3 commented on #347
Hi Dominic,

**Thanks so much for your insight and your time!**

Yes, I should have highlighted earlier: I am not calling the ptoSimInputFile but rather a file called “value” (line 3 of the wecSimInputFile) to programmatically modify most of the parameters in the Simulink model. Sorry for the confusion. For sure, I will revisit the PTO Sim documentation.

Your description of the instable phenomeno

[2020-04-01 22:39] kmruehl commented on #345
@ghleila did this resolve your issue?

[2020-04-01 22:42] kmruehl commented on #347
@lethai3 it sounds like this issue WEC-Sim has been resolved. We cannot provide design advice, so I'm going to close this issue.

[2020-04-01 22:42] #347 closed

[2020-04-01 22:44] #342 closed

[2020-04-01 23:02] ghleila commented on #345
@kmruehl I tried modifying line 39  of wecSim.m but didn't work. Then I downloaded and installed the latest version of wecSim package and the problem solved.
Thanks for your help!

[2020-04-01 23:20] kmruehl commented on #345
@ghleila wonderful! Glad the latest version of WEC-Sim resolved your issue.

[2020-04-01 23:20] #345 closed

[2020-04-08 14:08] zwjzju opened #348 "Model visualization issue"
I'm a beginner at wec-sim.I made a simple model, which is composed of a cylindrical cylinder and a float. I set the cylinder to be fixed relative to the global coordinate system, while the float is translational relative to the cylinder.When I tried to simulate this model, I found that the model was out of place. I made several adjustments on Solidworks software, and the same problem occurred.I wo

[2020-04-08 20:56] Doudou-Li opened #349 "A Running problem of Wavestar.slx"
Hello,
A problem when I run the Wavestar.slx file in the Wavestar WEC Control Competition source code.
The problem is following:

Variant control 'sv_b_hydroBody' of variant block 'WaveStar/Arm(Frame, Float, BC, Motor)' must be a condition expression or name of a Simulink.Variant object in the global scope workspace of the model. Ensure that the condition does not match the model name.

I don't kn

[2020-04-08 21:53] nathanmtom commented on #349
@Doudou-Li

Thank you for posting this issue about the WECCCOMP model. I have just pulled the WECCCOMP files from the following repository ``https://github.com/WEC-Sim/WECCCOMP" and was successful at running the model.

Therefore, have you made any edits to the wecSimInputFile.m or the Wavestar.slx files? If possible, please send the folder with all of your files to see if we can reproduce your er

[2020-04-09 00:01] zwjzju commented on #348
![微信图片_20200408214933](https://user-images.githubusercontent.com/50320254/78844433-528dbf80-7a38-11ea-9d13-d4526ade9e4c.png)

[2020-04-09 02:01] liangsunwut commented on #247
Was this issue solved?

[2020-04-09 08:13] Doudou-Li commented on #349
Dear all,

I think I find the problem. I didn't run the wemSim file before, cos it's not located in the Wavestar soure files. It's in WEC-Sim-master/source.

Thank you so much

BR

Doudou

________________________________
From: nathanmtom <notifications@github.com>
Sent: 08 April 2020 22:54:07
To: WEC-Sim/WEC-Sim
Cc: DOUDOU LI; Mention
Subject: Re: [WEC-Sim/WEC-Sim] A Running problem of Wavestar.s

[2020-04-09 15:21] #349 closed

[2020-04-15 21:42] kmruehl commented on #348
@zwjzju The body placement issue is likely due to the fact that the geometry must be output to `*.STL` with the origin at the body's cg. Would you be willing to upload a ZIP of your case directory for us to resolve this issue?

[2020-04-16 01:29] sricharanvvs commented on #295
Hi,
Unlike the above error, I am getting this something like this:

Index exceeds the number of array elements (0).

Error in Read_AQWA (line 178)
                    ind = tmp1(1:2); tmp1(1:2)=[];

Error in bemio (line 4)
hydro = Read_AQWA(hydro,'ANALYSIS.AH1','ANALYSIS.LIS');

I have run it for 100 frequencies. I have compared with the rm3 and my old files. I havn't found any change like the ISS

[2020-04-16 03:33] zwjzju commented on #348
@kmruehl Thank you very much for your reply.I think I've solved this problem with the correct *.stl file output settings.Now I have a new issue.I want the outer cylinder to be anchored to the water and the waterplane to pass through its geometrically symmetric plane (in the middle of the cylinder), but that didn't seem to be the case.In my results, the waterplane seems to automatically adjust to t

[2020-04-17 23:57] ignacio-byte opened #350 "error loading AH1 and LIS files from AQWA output files"
i can´t convet the AH1 and LIS files to h5.files

clc; clear all; close all;
hydro = struct();

hydro = Read_AQWA(hydro,'aqwa_example_data.AH1','aqwa_example_data.LIS');
hydro = Radiation_IRF(hydro,15,[],[],[],[]);
%hydro = Radiation_IRF_SS(hydro,[],[]);
hydro = Excitation_IRF(hydro,15,[],[],[],[]);
Write_H5(hydro)
Plot_BEMIO(hydro)

i did not change the name in scrip instead i rename the "ANALYSI

[2020-04-21 19:20] uzayr123 opened #351 "Reference to non-existent field 'time'."
Hi,
Attempting to simulate a point absorber (conical shape), the simulation works fine, but when hitting the post-processing and saving section, matlab throws the errors 👍
"Reference to non-existent field 'time'.

Error in responseClass (line 40)
                obj.bodies(ii).time = bodiesOutput(ii).time;

Error in postProcess (line 68)
output =
responseClass(bodiesOutput,ptosOutput,constraintsOu

[2020-04-22 23:21] mleary29 opened #352 "WECSim vs. ProteusDS rotational motion issue"
Hello,

I simplified my WEC such that I can compare the motion of a floating cylinder with 6 DoF in Proteus and WECSim. For this, I am finding similar heave motion, but am particularly curious as to why the motion in pitch is much smaller in WECSim compared to ProteusDS.

Attached is:
1.my WECSim case (including a script to save output as WECSim_FloatOutput.mat),
Note: The script within the WECSim

[2020-04-23 09:20] avidortelem opened #353 "viscous drag relative velocity"
Hello,

I have an issue to model the viscous force in WECSIM.

I already (before trying to go to WECSIM) have a time-domain to modelise a plate of 8*4.5m.

The theorical viscous force is:

<img width="273" alt="time" src="https://user-images.githubusercontent.com/43061767/80072610-c656be80-8546-11ea-8666-d3bce4fcf824.PNG">

Xi dot is the plate velocity and Uf the wave particle velocity, Sp the pla

[2020-04-24 18:24] dav-og commented on #352
Hi Matt,

Thank you for submitting the issue & attached data - I was able to run your WEC-Sim model and plotting scripts and reproduce the same results that you shared :)

I noticed some discrepancies in the roll and yaw results you shared (0 displacement in WEC-Sim and large displacements in ProteusDS), and I wanted to directly compare the yaw orientation (not just the velocity as you did). I mod

[2020-04-24 19:14] mleary29 commented on #352
Hi Dave,

Yes i receive the same Yaw displacement results. There are also disparities in surge and sway, which I believe is because in Proteus the float is drifting in regular waves in x and y, while in WECSim the float doesn't appear move much in x and y.

The yaw motion is a noted issue within ProteusDS, where things such as geometric curvature have
been prone to cause unwanted yaw motion, which

[2020-04-24 21:35] dav-og commented on #352
Hi Matt,

In that case, I would advise focusing on resolving the numerical errors (positional drift) observed in your ProteusDS results before attempting a comparison between the two codes :)

As you noted, additional damping can be introduced...another common approach is to simply eliminate some degrees of freedom from the model.

You may also want to verify that the hydrodynamic databases (HDBs)

[2020-04-29 19:09] mleary29 commented on #352
Hello,

Thanks for the update, I looked into it and I recharacterized my drag in both proteus and WECSim, and the comparisons look much better now in my opinion. Still fascinated as to why there is no motion in roll or yaw in wecSim, but overall these are comparing fairly well.

 Also, I am still figuring out how to correctly characterize drag in degrees of freedom outside of heave, for it seems l

[2020-05-05 19:51] amaraven opened #354 "General request for more documentation on WEC-Sim outputs"
With so many outputs from WEC-Sim, I find myself making educated guesses as to which output I should be looking at when analyzing specific portions of my system. Would it be possible to get a more thorough description of what each output refers to?

[2020-05-05 22:06] dforbush2 commented on #351
@uzayr123

I believe that the issue described has been noted and handled in #334.

It is an issue with the default settings changing between matlab versions. Thankfully the fix is easy :)

Please reference the previous issue and let me know if  this does not solve your issue.

[2020-05-05 22:21] yuyihsiang commented on #353
You are right that we did not include the flow velocity in the drag force but did include the flow velocity in Morison element. Typically, if we need to have the flow velocity to calculate the relative velocity, we use Morison element with ONE element and set Ca to zero (, which should be the default I think).

[2020-05-05 22:26] #320 closed

[2020-05-05 22:29] uzayr123 commented on #351
I'll have a look to see if this fixes it, don't currently have access to my computer. As an update, I ended up having to restrict the the model to a translational pto for a project I was working on, this fixed the issue, not sure why.

Thanks for the info though

[2020-05-13 15:54] kmruehl commented on #354
@amaraven thank you for this feedback. Yes, we will add more information about the response class, and the output variables.

[2020-05-13 15:57] kmruehl commented on #350
@ignacio-byte Can you please upload the `*.AH1` and `*.LIS` AQWA files, and the `bemio.m` file you're using? That will allow us to reproduce and debug this error. Thank you.

[2020-05-13 16:01] kmruehl commented on #348
@zwjzju Can you clarify what you mean by:

Do you want the cylinder anchored to the water? Or do you want the cylinder fixed in space, meaning it would be anchored at a fixed height relative to the seafloor?

[2020-05-13 16:03] #353 closed

[2020-05-13 16:04] kmruehl commented on #351
@uzayr123 did changing the Simulink settings, similar to #334, resolve this issue?

[2020-05-14 15:09] dforbush2 commented on #352
Hi Matt,

Drag terms like this are frequently used as tuning parameters in simulations, since characterizing them exactly can be difficult. I usually start with something predicted by simple geometry as an initial guess and iterate from there, recognizing that drag coefficients in oscillatory flow can have distinct qualities (G.G. Stokes, "On the effect of internal friction of fluids on the motion

[2020-05-21 00:27] #352 closed

[2020-05-21 00:27] #351 closed

[2020-05-27 22:49] #348 closed

[2020-05-27 22:49] kmruehl commented on #350
@ignacio-byte can you upload the AQWA files for this case?

[2020-05-31 07:21] duxiao96 opened #356 "How to Calculation More than One Sea-state(e.g.Hs=2.5m, Te=8s)"
Thank you,  WEC-Sim team.
 I am trying to do reliability of power semiconductors in WEC using the RM3 model.
my questions are:
1、How to Calculation More than One Sea-state(e.g.Hs=2.5m, Te=8s)?
2 、Where Can I Find Output Power of WEC based on results of simulation ?(Regular Waves，Irregular Waves[Power Output Matrix])

[2020-06-01 14:34] jackhughes1 opened #357 "Body motions between bodies"
Hi, hope you're doing well in these strange times.

I have a question about body motions, in the example that the body is semi-submerged and is connected by a body above the waterline, such as a catamaran, would you be able to suggest a way to best model this in the Simulink model?

So far I have included multiple bodies in the model but they all move as one under wave loading, rather than moving

[2020-06-02 20:37] kmruehl opened #358 "spectral formulations"
Modification of the waveClass in WEC-Sim to be consistent with the IEC specifications. Opening an issue for this modification for reference by MHKiT.

[2020-06-03 19:36] dforbush2 commented on #356
Hi @duxiao96

1. I would recommend you check out WEC-SimMCR for this task. It allows you to specify a vector of sea-states which WEC-Sim will execute in order.
 https://wec-sim.github.io/WEC-Sim/advanced_features.html#multiple-condition-runs-mcr

There is an Applications example as well as a webinar for this feature, available at the provided link.

2. I would need more information on your particu

[2020-06-03 19:55] dforbush2 commented on #357
Hi Jack.

I am envisioning exactly a catamaran, wherein two semi-submerged hulls are connected by a completely out-of-the water rigid platform, so if that is inaccurate, feel free to ignore the forthcoming. If you are able, it may be best if you could provide your model so that we are all on the same page.

My first guess would be to model each hull as hydrodynamic bodies (such that they are subje

[2020-06-03 20:22] IloveJesusmyKing opened #359 "WAMIT BEMIO"
Hello,

Recently I attempted to use the BEMIO workflow that is provided with WEC-Sim and I have run into some issues. Specifically, hydro data missing following the execution of "Read_WAMIT". This lack of data propagates errors when trying to run "Write_H5" and "Plot_BEMIO". I am wondering if there is documentation available regarding the hydro data structure fields. I am wondering if there are ou

[2020-06-03 22:48] kmruehl commented on #357
@jackhughes1, I want to echo everything @dforbush2 has already stated, and also point you in the direction of the WECCCOMP WEC-Sim model of the WaveStar device. It has many of the features you need: a fixed platform above the water surface modeled as a non-hydro body, and a hydro-body moving relative to the fixed platform. I've also attached a reference describing this model.

https://github.com/W

[2020-06-03 23:16] #350 closed

[2020-06-03 23:18] dforbush2 commented on #359
Hi @IloveJesusmyKing ,

Are you running the bemio example, with one of the *.out wamit files in the wecsim distribution, or with your own wamit output file?
In the latter case, there may be something unusual about your wamit output. Looking at the fields you're missing, it Seems all of these variables are related to impulse response functions generated by `Radiation_IRF.m` and `Excitation_IRF.m`.

[2020-06-04 09:57] dpadeletti opened #360 "Big number of hinged-bodies"
Hello WEC-Simers,

I would like to use WEC-Sim to simulate a small floating PV system. The hydrodynamic bodies are made of 16 floaters + 9 footpaths all connected but some kind of hinges. The aim is to study the mooring loads under some sea state conditions.

Question 1 : are there any limitations on the number of bodies or/and joints that can be simulated?
Question 2 : any possible concerns/issue

[2020-06-04 10:59] IloveJesusmyKing commented on #359
- I am running the scripts while processing my own WAMIT *.out file.
- Thanks for letting me know about the `Radiation_IRF.m` and `Excitation_IRF.m` dependencies. I had these in the bemio workflow but they were commented out because I didn't think they were necessary.

Now, as I run through the bemio workflow (like the example you pointed to), I receive one error related to the Ainf hydro data fie

[2020-06-04 13:45] jackhughes1 commented on #357
Thanks for the prompt response! I'll have a look through this material and get back to you.

[2020-06-04 22:36] 950403 opened #361 "How to interpreted the graphics"
Hello, How can i interpret the graphs that wecSim provides with the rm3 example, is there any documentation to better understand this? since I would like to see their behaviors in a better way

[2020-06-05 09:33] dpadeletti commented on #360
@kmruehl thank you for your prompt reply.

I do not still have a license for Matlab/Simulink and the required toolboxes so before going for that I wanted to be sure it is in principle possible.

It would be interesting to push WEC-Sim to simulate such a high degrees of freedom system which reflects a standard application on floating solar.

I think not using body-to-body interactions can be a good

[2020-06-08 14:45] sugarl14 opened #362 "Modeling Extreme Wave Conditions?"
Hi,

I am aware that the WEC-Sim method is not intended to model highly nonlinear hydrodynamic events, such as wave slamming and wave breaking, but I noticed in the publication [here](https://www.nrel.gov/docs/fy15osti/63677.pdf?gathStatIcon=true) , that extreme wave conditions were indeed modeled.

Is a RANS method still required to analyze extreme wave conditions, or can it now be done in WEC-Si

[2020-06-09 14:58] RApmmh opened #363 "Flexible membrane WEC"
Hello,

I am trying to simulate a flexible membrane WEC, similar to an underwater flag with NEMOH code as input. Having found this article ["Inclusion of Structural Flexibility in Design Load Analysis for Wave Energy Converters"](https://www.nrel.gov/docs/fy17osti/68923.pdf) I thought I could use WEC-Sim for the simulation. However, I have run into some problems with my code:

Whenever I add a "fl

[2020-06-10 09:25] duxiao96 commented on #356
Thanks you very much.
Based on PTOsim, I also have some question.
1、The ElecPower is too small, several hundred watts.(regular Hs=2.5m,Te=8s)
2、the Phase A current is also small
However, I don't know where the simulation model is wrong or other problems.

At 2020-06-04 03:36:23, "dforbush2" <notifications@github.com> wrote:

Hi @duxiao96

I would recommend you check out WEC-SimMCR for this task. I

[2020-06-10 11:13] #359 closed

[2020-06-10 11:16] IloveJesusmyKing opened #364 "WAMIT BEMIO *.out files"
Hi @dforbush2

- I am running the scripts while processing my own WAMIT *.out file.
- Thanks for letting me know about the `Radiation_IRF.m` and `Excitation_IRF.m` dependencies. I had these in the bemio workflow but they were commented out because I didn't think they were necessary.

Now, as I run through the bemio workflow (like the example you pointed to), I receive one error related to the Ainf

[2020-06-11 00:02] kmruehl commented on #358
resolved by #365

[2020-06-11 00:02] #358 closed

[2020-06-11 08:11] jackhughes1 commented on #357
Hi @dforbush2,

Yes, resolved. The example provided was very useful, thanks a lot.

Jack

[2020-06-11 14:43] #357 closed

[2020-06-11 16:22] avidortelem opened #366 "Modify ptosim.botA during simulation"
![NCFPiston](https://user-images.githubusercontent.com/43061767/84412829-17fafb80-ac10-11ea-9fef-44ee6ac391ad.PNG)

Hello,

I would like to use the non compressible fluid piston to modelise a PTO.

The issue is that my piston Area depends on the position.

Then I would like to change ptosim.botA / topA (see pictures enclosed) during simulation according to the position of the body.

If I modify th

[2020-06-12 05:28] kjbennichan opened #367 "Error while running tutorial"
While running tutorials, its coming as initializing the simulation class and then nothing.
WEC-Sim: An open-source code for simulating wave energy converters
Version: NOT DEFINED

Initializing the Simulation Class...
	Case Dir: C:\Program Files\MATLAB\R2016a\bin
Like this, how to get it run.

Amala

[2020-06-12 07:50] dpadeletti commented on #360
Hi David,

thank you indeed. I will take a look at your Thesis during the weekend. I am sure I will get useful infos ;)

Cheers,
Davide

[2020-06-12 07:57] kjbennichan opened #368 "Version"
Do wecsim works in MATLAB 2016a?

Amala

[2020-06-12 08:52] #366 closed

[2020-06-12 21:33] dforbush2 commented on #367
Hello,

The tutorials found in  the `./Tutorials` directory does not run without user modification. The idea is to provide a  template `wecSimInputFile.m` and simulink model file which a new user can populate to familiarize themselves with the WEC-Sim workflow. See http://wec-sim.github.io/WEC-Sim/tutorials.html for tutorial instructions.

 The `./Examples` directory houses working examples that s

[2020-06-12 21:34] dforbush2 commented on #368
Yes. WEC-Sim core functions should work from version 2015b onwards. We have verified full functionality on 2018a through 2019b.

[2020-06-15 10:51] #368 closed

[2020-06-15 10:59] kjbennichan opened #370 "case directory"
Hi,
A WEC-Sim input file is required for each run. It MUST be placed inside the case directory
for the run and MUST be named wecSimInputFile.m.
What do you mean by placing inside case directory. How to do that?

[2020-06-15 15:28] dforbush2 commented on #370
Please see the WEC-Sim "Getting Started" step 3 for a simple example.

http://wec-sim.github.io/WEC-Sim/getting_started.html

The "case directory" is the directory you are in when you type `wecSim` into the matlab command window. The case directory must contain a `wecSimInputFile.m` and a simulink model `YOUR_MODEL.slx`

In the example in the link, the case directory would be `$WECSIM/examples/RM3

[2020-06-15 16:21] yuyihsiang commented on #363
The library link in WEC-Sim model was overwritten. It is fixed now, please download the latest version.

[2020-06-15 16:40] yuyihsiang commented on #362
Although WEC-Sim is based on linear theory, it can be used for extreme condition analysis with some caveats. WEC-Sim can not simulate the wave slamming and wave breaking loads. However, if the wave slamming and wave breaking on the physical interests is relatively insignificant, WEC-Sim can be used. In some cases, we also use WEC-Sim to identify the most likely sea states that extreme condition oc

[2020-06-16 08:14] RApmmh commented on #363
Thank you, I've pulled the most recent version with git. The library error is gone but I have a different bug concerning the simulink model:
_Error using wecSim (line 291)
For dimensions 1, parameter 'Indices' in 'test4_model/Flex Body/Additional Linear Damping Force Calculation/Selector1':
error in 'test4_model/Flex Body/Additional Linear Damping Force Calculation/Selector1'. Parameter 'Indices'

[2020-06-16 11:52] duxiao96 commented on #356
Sorry, I do not know how to I don't know how to attach the file.
Can I send it to your mailbox?
At the same time, the reply mail last time has a model.

[2020-06-16 16:07] dforbush2 commented on #356
Hi @duxiao96

You should be able to attach a file by dragging/dropping into the comment box on git. But if you are talking about the unmodified PTO-Sim/RM3_DD_PTO example in the WEC-Sim Applications repository I can see this model already.

Looking through the model, everything seems to be in order. An electrical output of several hundred watts does not seem unexpected. Parameters involved in that

[2020-06-16 16:44] yuyihsiang commented on #363
I agree this is probably an issue with using NEMOH. We have built everything and tested the GBM model based on WAMIT coefficients. Can you share your NEMOH files and the WEC-Sim runs? I should be able to modify and update WEC-Sim as needed, mainly how body.dof_end is defined.

[2020-06-17 09:23] RApmmh commented on #363
OK so if I understand correctly, GBM in WEC-Sim may not work using NEMOH inputs?
My model is relatively simple: a cantilevered horizontal flexible membrane. The structure supporting the cantilever is left out of the model. The simulink model only includes the flex body, a rotational constraint and the ground reference frame.
My NEMOH code (attached here) does not include GBM. Ideally, I would have

[2020-06-17 17:32] Aquaharmonics opened #372 "Errors with Matlab 2019B and 2020A"
Hello,

I was updating Matlab to the latest version 2020a and testing with a pull of the latest WEC-Sim version from the git hub repository.

The same installation runs fine in Matlab 2018b the following version:

[code]

In 2019b, the following Version:
[code]
This error is thrown:

[code]

In 2020a the following version:

[code]
This error is thrown:

[code]

When looking at the mask in the mask

[2020-06-17 18:07] dforbush2 commented on #367
Did this solve your issue?

[2020-06-17 18:07] dforbush2 commented on #370
Did this solve your issue?

[2020-06-17 19:23] yuyihsiang commented on #372
Yes, it is a version issue. Matlab removed the 'ExtGeomFileType' parameter starting 2019b. We have fixed the issue it by adding an additional if statement to handle different version. Please pull the latest version.

[2020-06-17 19:23] kmruehl commented on #372
@Aquaharmonics Thank you very much for bringing this to our attention. We are aware of this WEC-Sim library issue. You are correct about the route cause, and that it is an issue related to the MATLAB version. 2018b works fine, but 2019b and newer are problematic. What happened is that MATLAB removed the option to select the geometry type (`*.STL` or `*.STEP`). We are actively working on resolving

[2020-06-17 19:30] #360 closed

[2020-06-17 20:01] yuyihsiang commented on #363
Yes, the BEMIO needs some modifications to read in the GBM parts correctly. If you can provide me a NEMOH run with 6 rigid DOF and GBMs, I should be able to modify the BEMIO quickly. We just don't have the NEMOH example for us to do that in the past.

[2020-06-17 20:54] Aquaharmonics commented on #372
Thanks for the quick response on this, we will do a pull of the latest version and try this again.
Best Regards,
Alex

[2020-06-18 07:16] kjbennichan commented on #370
No I couldn't

On Wed, Jun 17, 2020, 11:37 PM dforbush2 <notifications@github.com> wrote:

[2020-06-18 07:56] kjbennichan opened #374 "hydraulic PTO"
hi,
 Do hydraulic PTO option works in matlab 2016a. Is it available.

[2020-06-18 15:28] dforbush2 commented on #374
Hi @kjbennichan

As mentioned in #368, WEC-Sim should support all versions back to 2016a.

Is there a specific error you are encountering?

Best,
Dom

[2020-06-18 15:29] dforbush2 commented on #370
Can you be more specific about the problem you are encountering?

[2020-06-18 16:30] #361 closed

[2020-06-18 16:49] #372 closed

[2020-06-18 16:51] kmruehl commented on #362
@sugarl14 did this answer your question?

[2020-06-18 17:24] Aquaharmonics commented on #372
Hello,

I just finished checking in 2019b and 2020a, and everything works for the RM3 case!

Thanks again for the quick response and help with this.

Best,
Alex

[2020-06-18 17:45] kmruehl commented on #372
That's great. Glad @yuyihsiang's commit resolved this library issue.

[2020-06-18 17:53] kjbennichan commented on #370
WEC-Sim: An open-source code for simulating wave energy converters
Version: NOT DEFINED

Initializing the Simulation Class...
Case Dir: C:\Users\HP\Documents\WEC-Sim-4.0\tutorials\RM3

Iam not able to run the tutorial RM3, I prepared slx file also, still it's
showing this and then nothing.

On Thu, Jun 18, 2020 at 8:59 PM dforbush2 <notifications@github.com> wrote:

[2020-06-18 18:00] kjbennichan commented on #374
Hi,
 I don't know how to provide a hydraulic PTO. These are the options
obtained, it's in the attachment. How can I give hydraulic PTO.

On Thu, Jun 18, 2020 at 8:58 PM dforbush2 <notifications@github.com> wrote:

[2020-06-18 18:07] dforbush2 commented on #370
Are you able to run the working example case in $WEC-Sim\examples\RM3?

[2020-06-18 18:07] #367 closed

[2020-06-18 18:17] dforbush2 commented on #374
Please see applications case: WEC-Sim_Applications\PTO-Sim\RM3_Hydraulic_PTO

The hydraulic PTO parameters are specified in the ``ptoSimInputFile.m``, and define the parameters in the "PTO-Sim" block of the accompanying ``RM3_Hydraulic_PTO.slx`` model.

[2020-06-18 21:08] bradling opened #375 "OrcaFlex BEMIO import"
Now that the latest version of OrcaFlex (11.0) includes a BEM solver (OrcaWave), are there any plans to add a function to BEMIO to read the OrcaWave BEM data?

[2020-06-19 04:55] kjbennichan commented on #370
I can run the bemio.m file, but the wecsiminputfile.m is not running for
the example RM3.
when I am trying wecsiminputfile.m, I am encountering the error I told in
the above mail. Don't know how to rectify that, and make that run.

On Thu, Jun 18, 2020 at 11:37 PM dforbush2 <notifications@github.com> wrote:

[2020-06-19 06:41] kjbennichan opened #376 "error"
hi,
WEC-Sim Read Input File ...
Undefined function or variable 'value'.

Error in simulationClass/checkinputs (line 135)
                error('The simMecahnics file, %s, does not exist in the case
                directory',value)

Error in wecSim (line 43)
simu.checkinputs;
 This is the error I am encountering while running OSWEC tutorial, how can i rectify this?

[2020-06-22 13:00] sugarl14 commented on #362
It did, thank you!

[2020-06-22 13:00] #362 closed

[2020-06-22 15:07] dforbush2 commented on #370
The message you are encountering is not an error message but a printed output from the `wecSimInputFile.m `. If you are not seeing an additional error message it seems like your run is terminating after running `wecSimInputFile.m`.

A WEC-Sim simulation is executed by typing `wecSim` into the command window.

This will first run `wecSimInputFile.m`, and then run the rest of the simulation. Please

[2020-06-22 15:15] dforbush2 commented on #376
This error indicates that the Simulink `.slx` file specified in `wecSimInputFile.m` does not exist in the case directory.

Please note that tutorials are NOT working examples and are intended to familiarize the user with the WEC-Sim workflow, and must be modified by the user before they will be functional.
By default the OSWEC tutorial case directory contains the empty model `OSWEC.slx`, but this

[2020-06-23 08:16] abaddonwang opened #377 "for the default RM3 point absorber"
I run the RM3 point absorber example successfully, the default run time is 400s with 2.5m wave height and 8s wave period regular wave (CIC), the result is good and stable, however, when I increased the run time to a longer time, for example 4000s, then the results starts to lose stability from about 1000s, it had a sudden change and the device starts to move wildly.

I kept all the default setting

[2020-06-24 23:20] kmruehl commented on #376
@kjbennichan if you're looking for a working example of the OSWEC, you can run the `$SWECSIM/examples/OSWEC` case located here:
https://github.com/WEC-Sim/WEC-Sim/tree/master/examples/OSWEC

As @dforbush2 mentioned, the tutorials are not working examples. They are meant to show users how to set up and run a WEC-Sim model.

[2020-06-24 23:20] #376 closed

[2020-07-02 21:21] Aquaharmonics opened #380 "Paraview Question"
Hi,

We were trying out Paraview visualization which we have not done for awhile, and had a **question.**

Does the  writing of the Paraview files typically take a long time? There does not seem to be any other errors we can see, and files are being written to the directory but it seems to be taking awhile (relative to the WecSim solution time), say over an hour to write the files using a 0.2 seco

[2020-07-02 22:36] kmruehl commented on #380
@Aquaharmonics unfortunately, yes writing the Paraview files at each time step does slow down the simulation substantially. Fortunately, there are some new `simulationClass` options submitted in PR #355 and merged in f55c5fb93a71391bd5762111ccc6bd51da96b6e7 that should speed up the `write_paraview` methods. You can now specify the time-steps you would like to write ParaView VTP files for, and spec

[2020-07-02 22:42] kmruehl commented on #375
@bradling thanks for bringing this to our attention. Adding `READ_OrcaWave` functionality to BEMIO is not something we currently have on our to do list. However, this is not the first request we've received to do add this feature, so we will consider adding it next FY. In the meantime, you are always welcome to submit a PR to add this functionality :).

Do you have some example OrcaWave output fil

[2020-07-02 22:43] kmruehl commented on #370
@kjbennichan did this resolve your issue?

[2020-07-02 22:43] kmruehl commented on #374
@kjbennichan did this resolve your issue?

[2020-07-02 22:55] bradling commented on #375
I can share a two-body output file privately with the WEC-Sim team. I will
email you offline about sharing the file.

I have started working on a function that meets my needs. One of the
difficulties is going to be that OrcaWave calculates hydrodynamic
coefficients at [0,0,0], instead of at the body CG. Doing the kinematic
transformation correctly for any arbitrary body location will take some
tim

[2020-07-02 23:31] Aquaharmonics commented on #380
@kmruehl,

Thanks for the quick response, it is helpful we just wanted to make sure there wasn't something else going on.

Best,
Alex

[2020-07-03 00:44] kmruehl commented on #380
@Aquaharmonics nothing else going on, writing those files is just slow.

[2020-07-03 00:44] #380 closed

[2020-07-03 09:20] ignacio-byte opened #381 "adding two PTO-sim to one simullink proyect"
is it posible to add a secong power take of in one system... two hidraulic cilinders in one device for example adding a two hidraulic cilinders to the oswec,

[2020-07-03 22:51] Aquaharmonics opened #383 "paraview error/pull request #382"
Hello,

Just as an FYI, here is the original error that pull request #382 fixes when running WECSim with paraview visualization :

![image](https://user-images.githubusercontent.com/20505639/86500271-c3e1c380-bd44-11ea-80e8-9a6b1e34f261.png)

[2020-07-08 15:40] ffrancesco opened #384 "Morrison Body"
This is an improvement request and not an actual issue.
I believe it might be interesting to create a third body type, along with the Hydro and non-Hydro, which includes Morrison forces but does not require the results from BEM solver.

[2020-07-08 17:14] adzanaihs opened #385 "Point absorber WEC"
I'm new to this program and currently trying to use it to simulate WEC similar to the design used by Wavestar Energy. But instead of using hydraulic PTO, I'm using direct mechanical drive PTO. Is that possible to simulate using this program? Because from the tutorial on the website there are only two examples of WEC (two-body point absorber and OSWEC).

![Wavestar prototype WEC](https://user-image

[2020-07-08 17:46] kmruehl commented on #385
@adzanaihs yes, it is possible to simulate a device like the Wavestar using WEC-Sim. We actually have an open access model of a Wavetsar-like device that was used for the [WEC Control Competition (WECCCOMP)](https://github.com/WEC-Sim/WECCCOMP). I recommend starting with the WECCCOMP model as your baseline and modifying it to meet your needs. FYI, we also have a repository of[ WEC-Sim applications

[2020-07-08 17:50] kmruehl commented on #383
@Aquaharmonics thank you. We will get this issue resolved and merge your PR today.

[2020-07-08 18:00] kmruehl commented on #375
@bradling thank you very much for providing sample OrcaWave files. We will consider adding this feature.

I've noted your point about generalizing the requested bemio functionality to convert from the output coordinate system at [0,0,0] to the cg.

[2020-07-08 18:00] #374 closed

[2020-07-08 18:00] #370 closed

[2020-07-08 18:01] kmruehl commented on #356
@duxiao96 does this resolve your issue?

[2020-07-08 22:33] #383 closed

[2020-07-09 09:25] siya-jin opened #386 "wave direction"
Hi there,
I am confused with the wave direction setting in WEC-Sim
I generated the hydrodynamic coefficients from AQWA. In the setting, three wave directions have been considered: -180, 0 and 180 degree. I felt confused with the .h5 hydroData generated from BEMIO. Under the hydroData, wave_dir, three directions have been read. I am wondering do I need to specify the wave direction like waves.waveD

[2020-07-09 14:50] kmruehl commented on #386
@siya-jin since you ran AQWA for -180, 0 and 180 degrees, the hydrodynamic data for those wave directions should be included in the `*.h5` file generated from BEMIO. If you want to run WEC-Sim for a wave direction other than 0 degrees you will need to specify `waves.waveDir` in the `wecSimInputFile.m`. The default value of  `waves.waveDir = 0`, refer to [API documentation here ](http://wec-sim.git

[2020-07-09 18:43] yuyihsiang commented on #377
This is most likely an issue because of how the added mass term was included in the solver. There are two ways of solving the issue.

- The easier way to do is to change the simu.adjMassWeightFun value to a larger number. The default value is 2, and change it to  simu.adjMassWeightFun=10 will solve the issue.
- Assign viscous damping to the body. The viscous effect was neglected in the example.

-

[2020-07-10 10:08] abaddonwang commented on #377
Good morning Yi-Hsiang,

Thank you very much, I will try.

Best regards,

Daming
________________________________
发件人: yuyihsiang <notifications@github.com>
发送时间: 2020年7月9日 19:44
收件人: WEC-Sim/WEC-Sim <WEC-Sim@noreply.github.com>
抄送: Daming Wang <daming.wang@plymouth.ac.uk>; Author <author@noreply.github.com>
主题: Re: [WEC-Sim/WEC-Sim] for the default RM3 point absorber (#377)

This is most likely a

[2020-07-10 10:59] abaddonwang commented on #377
Hi, Yi-Hsiang,

I have another question, when I turned on the non-linear analysis by setting simu.nlHydro = 2; the result is very unstable, the responses is not as periodic as linear analysis,. And from the animation, it seems the whole model floated away.  I don't know why the non-linear result is so different from the linear cases

 I tried to constrain the RM3 model, the example allows the spar

[2020-07-13 12:09] duxiao96 commented on #356
thank you very much!

[2020-07-13 12:10] #356 closed

[2020-07-13 18:14] kmruehl commented on #377
@abaddonwang this is due to the fact that non-linear hydro uses the `*.stl` geometry files to determine the volumetric displacement and buoyancy.  This means that good `*.stl` mesh resolution is required for the WEC geometry files when using the nonlinear buoyancy and Froude-Krylov wave excitation in WEC-Sim. The RM3 `*.stl` files provided in the example were developed only for visualization only,

[2020-07-20 02:33] t-osu opened #387 "How to read hydro.B variable?"
Evening,

I'm using WEC-Sim to verify my own IRF calculations from AQWA data, a 2 body point absorber. So far my excitation IRF matches the output from WEC-Sim, but I am confused on how to read the hydro.B variable for the radiation IRF. It is a 12x12x100. I understand the 3rd dimension, it's the first two that are giving me difficulties.

Is it the first 6 rows correspond to the first body, broke

[2020-07-20 09:40] ZhiGN opened #388 "How to use MoorDyn?"
I am a novice programmer. I can run the MoorDyn program, but the FAIRTEN in the result file Lines.out is deviated from the FairTens result generated by the matlab calculation example in the workspace.
![Snipaste_2020-07-20_17-39-51](https://user-images.githubusercontent.com/68538942/87923422-0b3fb200-cab0-11ea-8c65-229f2431fe8c.png)

[2020-07-22 22:37] kmruehl commented on #388
@ZhiGN can you upload this WEC-Sim/MoorDyn model so that we can debug this issue?

[2020-07-22 22:41] yuyihsiang commented on #388
Can you upload the files for us to check?

--Yi-Hsiang

[2020-07-22 22:46] yuyihsiang commented on #377
I just want to add that, yes, you will need a mooring to keep the device in position. The nonlinear hydro effect will result in a drift force.

[2020-07-22 22:49] kmruehl commented on #386
@siya-jin did this resolve your issue?

[2020-07-22 22:50] kmruehl commented on #385
@adzanaihs did this resolve your issue?

[2020-07-22 22:59] kmruehl commented on #387
@t-osu the top left [6,6] matrix of `hydro.B` is the frequency domain radiation damping corresponding to surge, sway, heave, roll, pitch and yaw for Body 1, and the bottom right [6,6] matrix of `hydro.B` corresponds to surge, sway, heave, roll, pitch and yaw for Body 2. The off-diagonal [6,6] matrices correspond to the cross-coupling terms between Body 1 and Body 2.

[2020-07-22 23:01] yuyihsiang commented on #377
did this resolve your issue?

[2020-07-22 23:02] yuyihsiang commented on #363
If you like, please provide us a NEMOH run with 6 rigid DOF and GBMs results from Nemoh.

[2020-07-23 07:51] RApmmh commented on #363
Thank you so much for your help. Due to conflicting time constraints I haven't been able to go back to this WEC simulation. I will close the thread for now and re-open when I have the NEMOH files (which also need a special modification in the NEMOH codes to calculate GBMs)

[2020-07-23 07:51] #363 closed

[2020-07-23 08:58] abaddonwang commented on #377
Thank you, I think you solved my problem.
________________________________
发件人: yuyihsiang <notifications@github.com>
发送时间: 2020年7月23日 0:01
收件人: WEC-Sim/WEC-Sim <WEC-Sim@noreply.github.com>
抄送: Daming Wang <daming.wang@plymouth.ac.uk>; Mention <mention@noreply.github.com>
主题: Re: [WEC-Sim/WEC-Sim] for the default RM3 point absorber (#377)

did this resolve your issue?

―
You are receiving this bec

[2020-07-24 14:25] sugarl14 opened #389 "Wave Heading Specification in READ_AQWA"
Hey there!

When I run the BEMIO file for AQWA, i think WEC-Sim automatically plots the wave direction of -180 deg. However, I would like to change this to plot the results from the 0 degree wave heading. I already have the results from AQWA for -180, -90, 0, 90, and 180 degree wave heading, but I'm just not the greatest with MATLAB just yet so I'm still trying to figure out how to plot the data i

[2020-07-24 16:38] sugarl14 commented on #389
Nevermind, I figured it out!

If anyone else comes across this issue, here's how I resolved it.
You can open the "Plot_BEMIO.m" file and change the variable "B" from its default (B = 1, where 1 is the indexed column) to the specific wave direction of interest.

For example, the .AH1 file displays wave headings similar to this (keep in mind, this depends on your analysis setting specified in AQWA):

[2020-07-25 03:33] ZhiGN commented on #388
@kmruehl @yuyihsiang First of all thank you for your kind reply. This file is an example of moordyn published by Professor Hall. I haven't combined moordyn and wec-sim. When running separately, I found that the FAIRTEN in the result file Lines.out is different from the value output by the scope module in simulink, but I feel that the two values should be the same. I have seen the source program, b

[2020-07-28 12:34] enrjcutl commented on #381
Is there any update to this? I am trying to simulate two WECs attached to one floating platform and wondering whether it is all possible.

[2020-07-28 13:42] enrjcutl opened #390 "Error"

[2020-07-28 14:20] #390 closed

[2020-07-28 15:53] dforbush2 commented on #381
Hi all,

Sorry for the delay. This should be possible within WEC-Sim using either the ready-made PTO blocks, PTO-Sim, or (if the toolboxes are available), elsewhere in Simscape. Are you encountering a specific error when you try to do this? To give more specific help I would need to see your models, but generally, just make sure that the PTO parameters are defined for each in your wecSim input fil

[2020-07-28 17:40] yuyihsiang commented on #388
Thanks for uploading the data. I have asked Matt to take a look at this.

[2020-07-28 19:03] dforbush2 commented on #381
With particular respect to the OSWEC question, I would point you to the WEC-Sim_Applications/PTO-Sim/OSWEC/OSWEC_Hydraulic_PTO example as a starting point. You will need to modify the PTO-sim input file and the simulink file such that each PTO component block has a unique identifier number across each of your PTOs and the appropriate parameters are specified for each. For example. if you were to u

[2020-07-28 19:13] enrjcutl opened #391 "Visualisation and simulation problems"
Hello,

I am new to WEC-Sim. I have created my own version of the RM3 tutorial. I developed the geometry in Solidworks and obtained the hydrodynamic properties via ANSYS AQWA. I have used the same .slx and input file as the tutorial and the results are the same. There are two issues however, the first is that my geometry does not line up with the environment. I have seen previous posts regarding t

[2020-07-28 19:23] dforbush2 commented on #391
Hi @enrjcutl

I believe position of the body relative to the origin in the visualization is based upon the [0,0,0] origin specified in the solidworks model. Unless I'm being deliberately diligent about sketching my geometry in solidworks, its really easy to define your sketch (and thus, geometry) at some point far from this origin, and the resulting WEC-Sim visualization can appear similar to the

[2020-07-28 19:40] enrjcutl commented on #391
Hi dforbush2,

This is where it becomes confusing because I was extremely diligent in aligning with the origin. In AQWA, the alignment was perfect however in WEC-Sim not so, I will have another try and let you know the outcome. I believe it is something to do with the .stl files.

I understand that, however the float itself does not translate along the spar at all, it remains fixed for all wave co

[2020-07-28 19:49] enrjcutl commented on #391
This is the origin on Solidworks.
![Capture1](https://user-images.githubusercontent.com/66339680/88713847-cf41c800-d113-11ea-80fa-702aba96e871.PNG)

[2020-07-28 19:54] dforbush2 commented on #391
Can you please provide the model and necessary input files? There are a number of possibilities here. But a quick check would be to make sure the PTO damping (pto.c) and stiffness (pto.k) are not overly high, and that you are selecting a wave state that is preferentially exciting floats.

I'm not sure about the visualization. I will look into this.

[2020-07-28 19:59] enrjcutl commented on #391
[Tutorial.zip](https://github.com/WEC-Sim/WEC-Sim/files/4990819/Tutorial.zip)

[2020-07-29 23:02] dav-og commented on #391
Hello, thanks for providing these files.

I've just checked your .stl files with meshmagick. We can infer dimensions/centres from xmin, xmax etc:

        --------------------------------------------
                MESH NAME : float
        --------------------------------------------

        Number of vertices: 254
        Number of faces:    508

        Number of triangles:   508
        Numb

[2020-07-29 23:09] dav-og commented on #391
Also, on this point:

`I understand that, however the float itself does not translate along the spar at all, it remains fixed for all wave conditions.`

I checked your output file - WEC-Sim is computing body motion in the order of ~1m - that's just not perceptible in the animations because the .stl geometries are so large (10s of km).

Cheers,
Dave

[2020-07-30 00:53] enrjcutl commented on #391
Hi Dave,

Thanks for your reply.

I am really not sure what is causing this. The geometry in Solidworks itself is correct, units, location etc. However as soon as it is exported into an .stl format and that file is reopened this is where the problems arise. I am not sure what is causing this, even the export units are in meters for the .stl format. It is bizarre and I am now looking to troubleshoo

[2020-07-30 02:30] enrjcutl commented on #391
I have now resolved the issue and have a working model.

Many Thanks.

[2020-07-30 02:33] dav-og commented on #391
Excellent!

[2020-07-30 02:33] #391 closed

[2020-07-30 15:27] dforbush2 commented on #381
Are there any follow-up questions? Did this solve your issue?

[2020-07-30 18:16] ignacio-byte commented on #381
yes,i did exactly what you wrote before and it works well for me,but i have a problem trying to add linearDamping

Error using wecSim (line 261)
Error due to multiple causes.
Caused by:
    Error using wecSim (line 261)
    Matrix multiply dimensions propagation error. Error occurred while setting input port 2 of
    'dcc_cHydraulic_PTO2/alaizquierda/Hydrodynamic Body/Additional Linear Damping For

[2020-07-30 18:27] dforbush2 commented on #381
I believe that the issue could be due to a recent change to the WEC-sim library that became necessary due to changes in Simulink defaults in a recent MATLAB edition. It seems that this change has not been properly propagated throughout our example WEC-Sim Applications input files, so thank you for alerting us to this. I'll make sure to address this in short order.

In the mean-time, changing the d

[2020-07-30 18:46] ignacio-byte commented on #381
that new way worked! i have a doutb with that value,i know it belongs to the oswec in your tutorials,how did you get 10.000.000   in Rx? i mean what's your formula?

[2020-07-30 18:54] dforbush2 commented on #381
I'm not sure to be honest, I just borrowed the one from the tutorial. In simulations without a control law to apply a force resisting the excitation, the linear or quadratic damping is selected to be large enough to counteract the wave excitation force at while the device undergoes reasonable displacement.

[2020-07-30 19:03] ignacio-byte commented on #381
so i can pick a value in linear damping that let me get a nice displacement for example,to protect hidraulic cilinders of the device?

[2020-07-30 19:25] dforbush2 commented on #381
Since you seem to be modeling a power take-off, which should act in many circumstances like a damper, I would recommend that you review the PTO-sim blocks for the components you are using and prescribe the damping appropriate for the drivetrain you are trying to model, since that is where hopefully most of the damping in a system will originate from: the sum of a prescribed actuation force and los

[2020-07-30 20:11] ignacio-byte commented on #381
yes,I was trying linear damping, PTO damping and viscous drag,but its very
difficult to determinate viscous drag for the geometry of mi model,
its  3m high x 12 m long x 2 m width  (each wing) its like a rhombus if u
could give me a help :D the model is something inusual

El jue., 30 de jul. de 2020 a la(s) 15:25, dforbush2 (
notifications@github.com) escribió:

%% Simulation Data
simu = simulatio

[2020-08-02 00:28] serag-abdulmotaleb opened #392 "Geometry doesn't appear in Mechanics Explorer"
When I run wecSim I get this warning:

"Warning: ['W9_wMoorMatrix/Rigid Body/Hydrodynamic Body/Structure/Body Properties'] : The file extension for the parameter Geometry/File Name is invalid for the specified file type. Resolve this issue in order to remove the warning."

the simulation carries on and the results are computed normally. Nevertheless, the geometry of the device doesn't show in Mech

[2020-08-02 01:10] #392 closed

[2020-08-03 16:19] sugarl14 opened #393 "2 bodies required for an OWESC?"
Hi,

To run WEC-Sim with an OSWEC, are two bodies (the flap and the base) required? Or can I simply model just the hinged flap in the Simulink file?

[2020-08-04 12:14] #389 closed

[2020-08-05 22:13] kmruehl commented on #387
@t-osu Does this resolve your issue?

[2020-08-05 22:14] #386 closed

[2020-08-05 22:14] #385 closed

[2020-08-05 22:20] #377 closed

[2020-08-05 22:21] dforbush2 commented on #381
Did this solve your issue?

[2020-08-05 23:51] nathanmtom commented on #393
@sugarl14 You can model an OSWEC with either one body (no base) or two bodies (the flap and the base) and will be dependent on your system design.

[2020-08-06 13:23] sugarl14 commented on #393
Great. Thank you, Nathan!

Landon

[2020-08-06 13:23] #393 closed

[2020-08-06 21:37] t-osu commented on #387
Yes, I was actually able to confirm this on my own before the reply, but glad to know I interpreted it the right way!

[2020-08-06 23:45] kmruehl commented on #387
@t-osu glad to hear that. I'm going to go ahead and close this issue then.

[2020-08-10 17:22] sugarl14 commented on #391
Hi @enrjcutl ,

I am experiencing a similar issue with a disproportionate model (the device is much larger than the environment). Could you explain how you solved your issue?

[2020-08-10 17:50] enrjcutl commented on #391
Hi @sugarl14,

Are you modelling in Solidworks?
I recall when I was saving the .stl files, the format was wrong and I had to manually change this. When saving the model, click the options button and hopefully a screen will pop up similar to the one below.
1. Check output units - for myself default was mm even though model was m.
2. Check the "Do not translate STL output data to positive space" - T

[2020-08-10 20:49] kmruehl commented on #391
@enrjcutl Thanks for this response!

[2020-08-10 20:58] sugarl14 commented on #391
Thank you!!

[2020-08-12 21:53] enrjcutl opened #394 "How to code a pitch decay test?"

[2020-08-12 22:01] #394 closed

[2020-08-15 03:20] Carbon360 opened #395 "INSTALLATION PROBLEM"
Hi, im using this wecsim for the very first time. I read the manual and ran the code a lot of times. But im getting some error in that each time i run. To start with i just want to install the correct wec sim and use the example versions. Pls help im noob in this.
Please share if u have developed any tutorial video for installing wec sim and running examples alone.

[2020-08-15 13:04] hossein-mehdipour opened #396 "OSWEC Damping and Stiffness Coefficients"
I was wondering if there is any specified range for Damping and Stiffness Coefficients in OSWECs, I didn't find anything in the Manual, and wanted to ask you if you could help me with this?

[2020-08-16 19:29] sugarl14 opened #397 "WEC Sim PDF??"
Hi,

I was wondering if there exists a PDF of the WEC-Sim documentation that is found on wec-sim's website? I found one online but its for wec-sim version 1.0.  I like to have a PDF available on my computer so I can make annotations and view it offline.

Thanks!

[2020-08-17 10:17] Carbon360 commented on #395
and for your information im using MATLAB 2019a version

[2020-08-17 10:46] crobarcro commented on #395
I'm not one of the WEC-Sim developers, just another user, but how do you expect them to help you when you give zero information about the problem? You haven't even said what error message you're getting!

[2020-08-17 10:48] Carbon360 commented on #395
Dear,
My problem is how to proceed the first step. That is the startup folder
point which I didn't understand at all. Pls help me if u can with this.

On Mon, Aug 17, 2020, 4:16 PM crobarcro <notifications@github.com> wrote:

[2020-08-17 10:50] Carbon360 commented on #395
I can understand that all errors im getting is because i didnt do the step 1 of installation right

[2020-08-17 15:48] dforbush2 commented on #395
As @crobarcro mentioned, it's pretty hard to give you much constructive feedback without having more details.
Which installation option (clone, fork, or static code download, https://wec-sim.github.io/WEC-Sim/getting_started.html) are you attempting? I would recommend, for debugging, that you try option 3 since there are fewer moving parts.

Also, can you please provide the error message you are g

[2020-08-17 17:21] dforbush2 commented on #396
Are you having a particular problem with the example models?

Hydrodynamic damping and stiffness coefficients come from the boundary element method solution, a function of the flap geometry. Additional damping and stiffness parameters for the PTO, for example (from $\examples\OSWEC\wecSimInputFile.m)

[code]
I can't speak exactly to how these parameters were selected, but there is a large body of

[2020-08-17 19:21] dforbush2 commented on #397
At present, there is a not a PDF-compiled version of the documentation. However, I suspect you are not alone in this desire, and this should be doable in our current documentation approach, so I will see about adding one to the repository.

I will leave this issue open.

[2020-08-18 04:25] Carbon360 commented on #395
Dear @dforbush2 im happy that you have heard my request.
So to start with pls forget about the error message which i got earlier as of now.
As per your suggestion i have downloaded the static code of wecsim now. But, now i cannot understand the first step in installation that is... (Rename the wecSimStartup.m file startup.m and paste it into the MATLAB Startup Folder. Set <wecSim> to the $WECSIM/s

[2020-08-18 05:34] Rodimus88 opened #398 "Error using wecSim (line 225)"
i am new to use of wec-sim, i just try to execute examples given and got this issue. i have no idea of whats it means. it would be grateful to have a solution for this.

![Screenshot (77)](https://user-images.githubusercontent.com/69836354/90474259-842f3980-e142-11ea-8f9c-e45ec640f6bc.png)

[2020-08-18 07:22] crobarcro commented on #395
You can find information on startup.m here:

https://www.mathworks.com/help/matlab/ref/startup.html

Here's how I found this info:

https://lmgtfy.com/?q=matlab+startup.m

[2020-08-18 09:23] Carbon360 commented on #395
Please tell whether im right or wrong...
as per my understanding, i must create a startup.m file. Then i must copy the code in wecsimstartup.m and paste it in startup.m.
In the copied code, the<wecSim> must be replaced with "$WECSIM/source" and the save it in startup.m and restart matlab.
And also rename the wecsimstartup.m to startup.m

Is my understanding of this right or wrong?

[2020-08-18 11:26] Carbon360 commented on #395
If i did that, i entered
cd $WECSIM/examples/RM3
wecSim
and i got error like
Error using cd
Cannot CD to C:\Users\R HEMANTH PRASANNA\Documents\MATLAB\WEC-Sim-4.1\WEC-Sim-4.1\$WECSIM\examples\RM3
(Name is nonexistent or not a directory).

[2020-08-18 15:28] dforbush2 commented on #395
thanks @crobarcro for your help!

@crobarcro has given the correct advice. It looks as though you are not properly creating your startup.m file. I see two issues with what you have done.

Firstly, the $WECSIM that we use in the instructions is not meant literally as "$WECSIM" but rather as a placeholder for the directory of your WEC-Sim installation. To figure this out, navigate in your matlab win

[2020-08-18 15:38] dforbush2 commented on #398
Assuming you have an up-to-date WEC-Sim clone, this is a MATLAB-version compatibility issue related to the handling of variant sub-systems. More recent editions of matlab can handle structures in variant expressions, apparently 2016a cannot. I'll make this change on the source code to address this compatibility issue.

As a work-around in the mean time, try replacing lines 225 through 228 of wecSi

[2020-08-18 16:00] #381 closed

[2020-08-18 16:13] Rodimus88 commented on #398
i shift from WEC-sim v.4.1 to WEC -sim v2.1, and it works fine. but i had to run the bemio.m first before run >>wecSim. but i am satisfied with it.

[2020-08-18 16:17] Carbon360 commented on #395
Thank so much for your time.
As per your suggestion i did so... i saved startup.m in the C:\Users\R HEMANTH PRASANNA\Documents\MATLAB. see the screenshot.

And i also renamed $WECSIM  with the (C:\Users\R HEMANTH PRASANNA\Documents\MATLAB\WEC-Sim-4.1\WEC-Sim-4.1). Pls see screenshot.
Im receiving error like "Error using cd
Too many input arguments"
![2020-08-18 (2)](https://user-images.githubuserc

[2020-08-18 16:24] dforbush2 commented on #395
You have spaces in your directory path name. Generally this should be avoided, but in this particular case you can work around by
`
cd('C:\Users\R HEMANTH PRASANNA\Documents\MATLAB\WEC-Sim-4.1\WEC-Sim-4.1\examples\rm3')`

For the future, this forum is dedicated only to WEC-Sim specific issues. For general matlab errors, https://www.mathworks.com/help/matlab/.

[2020-08-18 16:34] Rodimus88 commented on #398
your solution has worked perfectly. thank you again for the help. when running
![Screenshot (78)](https://user-images.githubusercontent.com/69836354/90540350-ba9aa200-e19e-11ea-8edc-b2df7a2bf853.png)
the examples in the WEC-sim up-to date clone, lot of warnings did pop up. but it does not occur in the WEC-sim v2.2. still results are generated. can you tell me how to avoid those warnings.

[2020-08-18 16:49] dforbush2 commented on #398
Those xml files are generated by simulink at run time, the exact format of which is particular to a matlab/simulink version. I do not see these warnings in WEC-Sim 4.1 running on 2020a or 2019a, so I suspect this has something to do with 2016a.

As long as the results look reasonable they shouldn't present a problem, but I am not sure how to suppress them.

[2020-08-18 18:45] #387 closed

[2020-08-19 11:05] eirinikatsido opened #399 "Mooring line slacks"
Hello!

I am trying to simulate an point absorber wec, please check the link for the description of the operating principle (https://user-images.githubusercontent.com/44980936/90624078-afd02380-e217-11ea-84c5-8c4b070fa410.png).

When the lower endstop spring inside the PTO is fully compressed,  the translator sits on the lower position (during a wave trough) and the chain, connecting the PTO with

[2020-08-19 11:13] Rodimus88 commented on #398
Thank you for your insight and help.

[2020-08-19 11:13] #398 closed

[2020-08-19 12:05] Rodimus88 opened #400 "How to create hydrodata .h5 file"
can any one give guidance in creating a custom hydrodata file.

[2020-08-19 13:53] Carbon360 commented on #395
Thanks you helped me resolve all problems. Its fine now.
Now i have 2 questions
1. I need to know another thing which is can i vary the wave height , time period and damping coefficient in the code given.
2. how to get or plot power generated graph in the example model which i simulated.

Thanks.
![2020-08-19](https://user-images.githubusercontent.com/68774295/90643723-80d6a380-e251-11ea-8580-b174

[2020-08-19 15:13] dforbush2 opened #401 "varying parameters, power plots"
Opening new issue @Carbon360
Thanks you helped me resolve all problems. Its fine now.
Now i have 2 questions
1. I need to know another thing which is can i vary the wave height , time period and damping coefficient in the code given.
2. how to get or plot power generated graph in the example model which i simulated.

Thanks.
![2020-08-19 (3)](https://user-images.githubusercontent.com/68774295/9064

[2020-08-19 15:13] dforbush2 commented on #395
continued as issue #401

[2020-08-19 15:13] #395 closed

[2020-08-19 15:56] dforbush2 commented on #401
To run parameter sweeps of wave height, period, or damping coefficients, check out Multiple Condition Runs https://wec-sim.github.io/WEC-Sim/advanced_features.html#multiple-condition-runs-mcr. There is also a webinar for your reference.

To plot PTO power, you can specify this as a desired output in your userDefinedFunctions.m file that is located in the same directory as the simulink *.slx file y

[2020-08-19 16:03] dforbush2 commented on #400
Try this to start.
https://wec-sim.github.io/WEC-Sim/advanced_features.html#writing-your-own-h5-file

[2020-08-19 20:43] Liam-Guerrero opened #402 "Restoring forces and Added Mass forces comparison"
Hi Guys,

I wonder if you could give me a hand to understand how wecSim computes some of the forces/moments.

I am working with the scaled-wavestar-like model developed for the WECCCOMP and ran the model for regular wave, height 0.06 m and period 1.2 s.

Now, I want to compute the restoring force and the added Mass force, for which I believe I have to use the pitch values so:

1. For the restoring

[2020-08-19 21:21] Liam-Guerrero opened #403 "Hydrostatic stiffness for pitch mode"
Hi Guys,

I wonder if you could give me a hand to understand how wecSim computes Hydrostatic stiffness for pitch mode.

I am working with the scaled-wavestar-like model developed for the WECCCOMP and ran the model for regular wave, height 0.06 m and period 1.2 s.

Now, I want to compute the restoring moment using the linear equation Mhd(t) = −K_5*θ(t).

First, I had understood that the hydrostatic

[2020-08-19 22:51] yuyihsiang commented on #399
HI Eirini,

The short answer is that WEC-Sim can not handle a slack mooring directly.

Having said that you should be able to modify the way you calculated the actuation force so that the chain force becomes zero when the chain slacks. If you want, you can upload your files, including the hydrodata and the models, and I can take a look at it.

--YI-Hsiang

[2020-08-20 11:12] Carbon360 commented on #401
Thank you so much...
i saw some codes like this below...

%Plot heave forces for body 2
output.plotForces(2,3);

But how do i plot for power
can you please give example of code that must be used. PLease

[2020-08-20 15:03] Rodimus88 commented on #400
thank you for the help..!!

[2020-08-20 15:21] dforbush2 commented on #401
Because there are a number of ways to define a power for a WEC this is difficult to answer in general. For the WEC-Sim/examples/OSWEC, the mechanical power is calculated from the damping and stiffness values specified in the PTO. These end up in the output.ptos.powerInternalMechanics field. The device is free in pitch (5), so power can be plotted:

figure; plot(output.time, output.ptos.powerIntern

[2020-08-20 15:22] Rodimus88 commented on #400
Does any one know how to create hydrodynamic data from the Ansys AQWA solver which can be use to run in BEMIO to genertae .h5 files.?

[2020-08-20 15:28] eirinikatsido commented on #399
Hello YI Hsiang,

Thank you for your reply! Here kindly attached my case.

In the subsystem there are the forces acting on the PTO for the several stages, depending on the translator position: i) when the upper end-stop spring is compressed, iii) when the upper end-stop spring is fully compressed and iii) when the connection chain slacks. It the latter case I applied what you described in your pre

[2020-08-20 15:31] dforbush2 commented on #400
With regard to reading AQWA output files, see *./examples/BEMIO/AQWA/Example.

If you are asking how to set up an AQWA run, that is not something I can help you with much. The structure of AQWA outputs seem to be a strong function of user selected solver configurations, which makes writing a reliable parser within BEMIO difficult. I would recommend that you reference the AQWA output files included

[2020-08-20 15:51] Rodimus88 commented on #400
thanks you dforbush2 for the help.!!

[2020-08-20 16:01] Rodimus88 commented on #400
I encounter with two errors when running the bemio.m file in the *./examples/BEMIO/AQWA/Example.
![Screenshot (81)](https://user-images.githubusercontent.com/69836354/90796105-83f29200-e32c-11ea-8b35-b3984cee7c12.png)

[2020-08-20 16:05] Rodimus88 commented on #400
I come up with two errors in  running bemio.m file in /examples/BEMIO/AQWA/Example.
![Screenshot (81)](https://user-images.githubusercontent.com/69836354/90796486-01b69d80-e32d-11ea-8a60-600c043a591a.png)

[2020-08-20 16:36] dforbush2 commented on #400
Ah its an easy one!
Try replacing

`TF  = startsWith(raw1(n),'*');`

with

`TF  = startsWith(raw1{n},'*');`

(note the change to curly braces { } around n)

[2020-08-20 16:56] Rodimus88 commented on #400
I have done the change, but the error still pops up.
![Screenshot (82)](https://user-images.githubusercontent.com/69836354/90801962-337f3280-e334-11ea-9063-0ab55f741af4.png)

[2020-08-20 17:31] dforbush2 commented on #400
I'm sorry that didn't work. It's hard for me to debug this exactly without a 2016a version. Assuming this fails on the first iteration, and not some later line, the problem is startsWith wants a string and in 2016a (n) gives you a cell and {n} gives you a character array.

There are a number of data-type conversion functions like 'string', 'convertCharsToStrings' that I would investigate. I would

[2020-08-20 17:42] dforbush2 commented on #400
In lieu of startsWith, I would check out using regexp with a logical expression. Something like

[code]

[2020-08-20 23:50] nathanmtom commented on #403
@Liam-Guerrero Thank you for your question and we are happy to try our best to answer your question.

To your first question, it appears that you have misinterpreted I_{yy} as the body pitch moment of inertia when instead it should be the [second moment of area ](https://en.wikipedia.org/wiki/List_of_second_moments_of_area#:~:text=The%20second%20moment%20of%20area,regard%20to%20an%20arbitrary%20ax

[2020-08-21 00:42] nathanmtom commented on #402
@Liam-Guerrero Thank you for your question and happy to try and answer your question.

To answer your first question, the hydrostatic restoring force time history for the WECCCOMP is not simply the **body(1,1).hydroForce.linearHydroRestCoef(5,5)** * **output.bodies(1,1).position(:,5)**. Rather the hydrostatic coefficient matrix has coupling terms with surge and heave since in this example the cent

[2020-08-22 14:00] Rodimus88 opened #404 "Definining CG and CB in write_hdf5"
according to which reference coordinate system do i need to define the CG and CB of my geometry. relative to the sea level or the center of gravity or else. also do i need to provide moment of inertia for each axis to the wecSiminput.m?. i am a beginner just trying to simulate a simple point absorbing sphere using wecSim. can any one giude me how to do this correctly step by step.

[2020-08-24 14:00] dforbush2 commented on #401
My mistake. There is no output.time field. But there are output.ptos.time, output.constraint.time, among others.

Try exploring the output structure for field names in matlab and in the documentation. http://wec-sim.github.io/WEC-Sim/api.html#response

[2020-08-24 17:00] yuyihsiang commented on #399
Hi Eirini,

Thank you for uploading the files.

Just to check, you mentioned that "It the latter case I applied what you described in your previous post, the forces acting on buoy due to the PTO are canceled by adding the same but opposite sign forces, which are the translator weight and the Fpto." Did that solve your issue?

--Yi-Hsiang

[2020-08-24 17:18] yuyihsiang commented on #396
In addition to PTO damping, you can specify viscous damping to account for the effect of viscosity on the body motion. There are two ways of doing it. You can specify a rotational viscous damping or use Morison element method. See user manual for more details: https://wec-sim.github.io/WEC-Sim/theory.html#viscous-damping-and-morison-elements

The viscous damping coefficients usually come from empi

[2020-08-25 14:00] H0R5E opened #405 "Automatic Object Creation"
Hi,

I have found a method for automatic creation of objects (such as a bodyClass) when setting the mask parameters on the WEC-Sim simulink blocks. Basically, you can create a callback to read the parameter name and then add the object to the base workspace. For the bodyClass, the code looks something like this (note, I renamed the default value to `new_body`):

[code]

My motivation for this is t

[2020-08-26 01:02] Liam-Guerrero commented on #403
Hi Nathan,

Thanks for your support, it really helped me a lot.

I still have some questions regarding the linearHydroRestCoef matrix.

body(1).hydroForce.linearHydroRestCoef =
0	0	0	0	0	0
0	0	0	0	0	0
0	0	519.33	-0.6095	25.8771	0
0	0	-0.6095	-1.0710	-0.0303	0
0	0	25.8771	-0.03036	0.21749	0
0	0	0	0	0	0

If I compared some of those values with the WAMIT definition, they do not match:
![image](https:

[2020-08-26 12:58] eirinikatsido commented on #399
Hello Yi,

By applying the forces cancellation by adding the same and opposite force, it seems that the PTO does not interact with the buoy. A brief comparison of the wecSim solution with the results from OpenFOAM simulations show relatively good agreement in terms of connection chain force.

Best Regards,
Eirini

[2020-08-26 13:32] Rodimus88 opened #406 "Defining userDefinedFunctions.m"
how to set up the userDefinedFunctions.m file for a custom problem. i just copy the userDefinedFunctions,m file from OSWEC tutorial and place in my project folder. then i encounter with following error,
![Screenshot (83)](https://user-images.githubusercontent.com/69836354/91309752-9ce8c080-e7ce-11ea-9237-659503ffd813.png)

[2020-08-26 21:36] Liam-Guerrero commented on #402
Hi Nathan,
Thanks for your help, it definitely helps me.

I still have some open questions, if you do not mind.

I understood about the constant overturning moment since the centre of buoyancy and the centre of gravity is not aligned at the same X and Y coordinates. But still, I have an open question, the fact that the hydrostatic coefficient matrix has coupling terms with surge and heave is due t

[2020-08-27 21:05] nathanmtom commented on #406
@Rodimus88 You are correct that if a userDefinedFunction is in the same working directory as your WEC-Sim files at the end of the simulation WEC-Sim will call the userDefinedFunction. In your screenshot above it appears that the userDefinedFunction has been called successfully, but it appears that there is no 'output' object in your 'Workspace'. Therefore, the userDefinedFunction stops and does no

[2020-08-27 21:33] nathanmtom commented on #402
@Liam-Guerrero Appreciate the follow-up question and will attempt to answer your questions.

First, I must apologize as my first response was not completely correct. For the hydrostatic restoring coefficient matrix, there is no surge-pitch coupling term, but there is a heave-pitch coupling term. I misspoke and also need to clarify that you are correct that the coupling terms are not associated wit

[2020-08-27 23:02] nathanmtom commented on #403
@Liam-Guerrero Thank you for the following on question and I will do my best to respond to your questions.

First, please note that in this model the water density was originally set at 1,000 kg/m^{3}. The model was built to represent an experimental apparatus that was tested in a fresh water tank and the initial mass of the float was determined assuming this.

Second, the C(3,3) term is slightly

[2020-08-28 09:31] hossein-mehdipour commented on #396
Really appreciate your helps,
but for example, in afew OSWEC cases that I have been able to see these coefficients, the K value was 0, (as the example in the comment above) and I don't really understand if there is like a specific range for these values? Or I don't even know what is the alternative to this to be honest. Either there is a specific range, or it could be any numbers, or there is rang

[2020-08-28 12:24] eleftheria-pap opened #407 "rigit,bottom-mounted, fixed vertical wall in the simulation"
Hello,

I would like to implement a time domain analysis of point absorbers in front of rigid, bottom-mounted, fixed vertical wall using WEC-sim. I haven't used WEC-sim before and I would like to ask you if this problem could be simulated in WEC-sim. Especially, I would like to know if the wall, representing a fixed boundary interacting with the point absorbers, could be considered in the simulati

[2020-08-28 12:41] Rodimus88 commented on #406
your solution has worked Mr @nathanmtom . thank you for your help.!!

[2020-08-28 12:41] #406 closed

[2020-08-28 14:45] dforbush2 commented on #396
The K and C value referred to in the comment above (which I think you were referencing) are power take-off components. A PTO will passively add some stiffness and damping to the system, but these can additionally be thought of as active controller gains. For instance, a PI controller on flap angular velocity in the OSWEC device will end up acting like an additional damping (proportional term) and

[2020-08-30 08:38] Rodimus88 opened #409 "Pitch Response Graph in userDefinedFunctions.m"
I ran a custom made floating sphere in wec-sim. in the grpahs output by userdefinedfunction.m I recieved a blank graph for the float pitch response. what is a reason for this. what should i do to get responses like velocity and position mentioned in that graph.
![Screenshot (84)](https://user-images.githubusercontent.com/69836354/91654881-38797a00-eaca-11ea-8400-0dbc8b80d040.png)

[2020-08-31 17:32] dforbush2 commented on #407
Hi Eleftheria,

Assuming you run the BEM simulation with the wall geometry as well, then you can run WEC-Sim with body-to-body interactions on. This will include the BEM data describing forces due to the interactions between the point absorber and the wall in a linear fashion.

https://wec-sim.github.io/WEC-Sim/advanced_features.html#body-to-body-interactions.

[2020-08-31 17:38] dforbush2 commented on #404
You'll want to use a coordinate system with the origin at the body CG (if you have a homogeneous sphere, this is colocated with your CB) in your BEM calculations. You will be able to specify the initial location of this sphere's CG relative to the still-water line in the wecSimInputFile.m

[2020-08-31 17:55] dforbush2 commented on #409
Hi @Rodimus88

There is an *.h5 file for a sphere in the WEC-Sim applications repository (*./Free_Decay) that may be useful as a check.
Is the sphere constrained via a 3 or 6 DOF constraint, which allows pitch motion? Depending on your excitation frequency, there may not be reason to expect pitch excitation in the sphere.

WEC-Sim applications : https://github.com/WEC-Sim/WEC-Sim_Applications

[2020-09-01 07:17] Rodimus88 commented on #404
I had figured it out about the initial location relative to the still water line. thanks @dforbush2 for the help. if my sphere is not homogeneous (eg: hollow sphere) then how should i define the CB?. i have used the create_h5file.m to create hydrodynamic data.

[2020-09-01 07:21] Rodimus88 commented on #409
I had used translation constrain in this situation. so its my fault. thanks @dforbush2 for pointing it out. anyway is there a way to collect responses as above of a translating body using userdefinedfunction.m ?

[2020-09-01 11:54] eleftheria-pap commented on #407
Thank you for your response.

The BEM model will be indeed run taking into account the presence of the wall. In the BEM simulations the wall is considered to be FIXED and bottom mounted. So, for the wall there is no radiation damping and/or added mass coefficients. The radiation damping and added mass of the WEC are caclulated in the BEM simulations taking into account the presence of the wall bou

[2020-09-01 14:06] h7ossein opened #410 "Accessing WAMIT, NEMOH or AQWA's codes"
Pretty self-explanatory title,
I wanted to ask if there is a way for me to access WAMIT, NEMOH or AQWA's codes?

[2020-09-01 14:38] dforbush2 commented on #409
I would recommend you check out the response class, which holds the simulation output data. Most of the example userDefinedFunctions.m scripts are merely plotting the variables contained in the `output` structure.

http://wec-sim.github.io/WEC-Sim/code_structure.html#output-structure
http://wec-sim.github.io/WEC-Sim/api.html#response

These response/force data are usually presented in 6 DOF [surge

[2020-09-01 14:45] dforbush2 commented on #410
http://wamit.com/
https://github.com/LHEEA/Nemoh
https://www.ansys.com/products/structures/ansys-aqwa

Only NEMOH is open source but there may be trial versions of other software available.

[2020-09-02 03:44] Rodimus88 commented on #409
It works, thank you @dforbush2 for your insight...!! i tried sphere from BEM data in the WEC-Sim applications repository (*./Free_Decay/hydroData) you mentioned in a previous comment. there was an error in it. i think it may be error due to my version of matlab. can you give a solution for this. here is the error i receive.
![Screenshot (85)](https://user-images.githubusercontent.com/69836354/9192

[2020-09-02 19:35] mattEhall commented on #388
Hi @ZhiGN, there was an error in earlier versions of MoorDyn (half the weight of the top mooring line segment was neglected in the fairlead force calculation) that might explain the disagreement you're seeing. It was fixed a few years ago in version 1.01.01C. It looks like you're using an earlier version, so my recommendation would be to try v1.01.01C and see if it solves the problem.

[2020-09-02 21:31] dforbush2 commented on #404
In the case of a hollow sphere the CB should be at the geometric center of the sphere, coincident with your CG. The CB should be defined with the origin at the body CG in your BEM calculations, so in this specific instance [0,0,0].  WEC-Sim will determine the equilibrium position of the sphere relative to the still water line based upon its displacement and mass.

[2020-09-02 22:11] #410 closed

[2020-09-02 22:27] #401 closed

[2020-09-02 22:38] dforbush2 commented on #396
Within the WEC-Sim code, there is a lower limit of zero for both K and C.

[2020-09-02 22:41] Liam-Guerrero commented on #403
Dear Nathan,

Thanks for your help, It really helped me to clarify my doubts.

Kind Regards
Juan Guerrero

[2020-09-02 22:41] #403 closed

[2020-09-02 22:52] nathanmtom commented on #402
@Liam-Guerrero I wanted to follow-up to see if my latest response has answered you questions?

Cheers,
Nathan
National Renewable Energy Laboratory

[2020-09-02 23:16] Liam-Guerrero commented on #402
Dear Nathan,

Yes, sure it really helped me to clarify my doubts regarding the forces. I still have some issues to understand the storage mass, but I think this is more about Matlab/Simulink solver, so I'll leave it aside for the time being.

I also have some open questions about how to extract the matrices for the state-space model for the radiation force/moment and one regarding the excitation f

[2020-09-02 23:22] nathanmtom commented on #407
@eleftheria-pap Thanks for the follow up comments. Our team agrees with you that when running your BEM solver, if the wall is held fixed then in simulations there will be no radiation forces or body-to-body interactions with the oscillating WEC. Depending on the BEM solver used and settings used, there still may be non-zero radiation and added mass coefficients for the wall, but since it will be f

[2020-09-03 00:09] Liam-Guerrero opened #411 "State-Space model to reconstruct the wave excitation/radiation moment for WECCCOMP apparatus"
Hi Guys,

I need to build an equivalent equation-of-motion model for the wavestar-like device used in the WECCCOMP.

1. State-Space model to reconstruct the wave excitation moment w.r.t the hinge A, to use it as input to the device model: I am planning to incorporate non-linear hydrostatic force considering the free surface elevation eta and the device displacement zd(t), so I would like to estima

[2020-09-03 01:49] Rodimus88 commented on #404
According to physics, the CB should located in the cg of the displaced volume. isn't it. i though providing the mass and displacement help wec-sim to calculate the CB. the couple created by buoyancy and weight affects pitch and roll. so CG and CB should be two separate locations in reality. for this example it may not important. but generally you should consider it. @dforbush2 can you please expla

[2020-09-03 13:44] dforbush2 commented on #404
I edited my previous response. You are correct. The CB will not align with the CG (which is located at the center of the sphere) for a partially submerged homogeneous (or hollow) sphere. For a given sphere volume, a lighter sphere will have a lower CB, and a heavier sphere will have a higher CB.

For hydrodynamic bodies, WEC-Sim reads the CB location from the *h5 file. WEC-Sim uses the CG and CB l

[2020-09-03 13:55] Rodimus88 commented on #404
Thank you @dforbush2 for the detailed explanation. so, finally the CG should defined relative to the still water level. and CB would also be expressed relative to the still water level.

[2020-09-03 14:13] dforbush2 commented on #404
WEC-Sim reads the CG and CB location from the *h5 file for hydrodynamic bodies. In your *h5 file, the location of the CG and CB should be relative to the free-surface.
Sorry for the confusion I created, early on I had misunderstood your question.

[2020-09-03 14:46] dforbush2 commented on #409
Hi @Rodimus88

I agree this is a matlab version issue. I do not have a 2016a version to test this on, but in my experience this issue is likely from the change over the last few Matlab versions in how Simulink handles one-dimensional arrays vs. row and/or column vectors (i.e., a signal dimension of (6) vs. a signal dimension of (6 x 1) or (1 x 6). While the behavior of `circshift` did change in 20

[2020-09-03 16:52] Rodimus88 commented on #404
it's OK @dforbush2 . i have learned some by this conversation. thank you for sharing your knowledge and valuable time with me.

[2020-09-03 16:52] #404 closed

[2020-09-03 16:58] Rodimus88 commented on #409
Thank you @dforbush2 for your consideration !. I hope to switch from matlab 2016 to 2019 for ease in any trouble in future problems. if i was unable to upgrade to 2019 version for any reason. i will try this solution and will give you a feedback. thank you again for the help given.!

[2020-09-03 16:58] #409 closed

[2020-09-07 09:50] eleftheria-pap commented on #407
Thank you Nathan for your detailed response. At this stage I think everything is clear to me. I will start modelling the problem and I will come back to you in case I have any further questions.

Thank you once more.

Best,
Eleftheria

[2020-09-08 11:54] saltynexus opened #412 "waveClass('spectrumImport'): plotSpectrum"
This is a minor bug, but if you try to plot an imported spectrum using `plotSpectrum` in `waveClass` this line

`if obj.spectrumType == 'JS'`

will throw an error because `waves.spectrumType = 'spectrumImport'`. A simple fix would be

`if strcmp(obj.spectrumType,'JS') == 1`

[2020-09-08 12:14] saltynexus opened #413 "waveClass('spectrumImport'): setWavePhase"
Matlab 2019a

I'm running an irregular case with an imported spectrum. When I first start Matlab and run the code, I get an error similar to:

The error points inside `waveClass` function `setWavePhase(obj)` which sets the irregular wave phase.

I'm not sure the exact source of the error, but I can only get past it if I add `twister` to `rng`. For example:

[code]

While that does get me moving, I

[2020-09-08 15:05] #407 closed

[2020-09-08 19:25] nathanmtom commented on #411
@Liam-Guerrero Thank you for your question and I'll do my best to try and answer.

To your first point, one difficulty is that the wave-excitation force values are noncausal which means that you theoretically need the wave elevation profile for a certain time in the past-to-future to calculate the wave excitation force at time _t_. A very good reference can be found [here](https://www.sciencedirec

[2020-09-09 14:44] Liam-Guerrero commented on #411
Dear Nathan,

Thanks for your help. Actually I just read the paper from Bradley A. Ling (the conference paper you mentioned) and was planning to do something similar.

I still have a couple of open question, that if you do not mind, I would like to ask here:

1. Can you help me to confirm if, using the output from wecSim, the wave excitation moment w.r.t point A can be computed as:
M_ex = F_ex,x *

[2020-09-10 17:58] dforbush2 commented on #413
Hi @saltynexus

Can you please confirm what matlab/wecsim version you are using?

[2020-09-11 16:55] nathanmtom commented on #411
@Liam-Guerrero Thank you for your follow-up comments on this issue. I'll do my best to answer your question.

1. Without having completed a derivation, your equation looks correct; however, I would suggest that replacing the rotational constraint at Hinge A with a fixed constraint, then after running WEC-Sim you can plot the rotational constraint force against your analytical equation to see if th

[2020-09-14 13:25] aglassFHKiel opened #414 "Scaling rm3 tutorial 1:100"
Hi,

i have scaled the rm3 tutorial in 1:100 to compare the results with the measurements of an small scale rm3 laboratory model and got the error massage:

Error using wecSim (line 261)
['RM3/Global Reference Frame/Solver Configuration']: Error evaluating equations at time 0.05.  Stopping
simulation.  There may be a singularity in the solution.  If not, try reducing the step size (either by
reduc

[2020-09-14 13:45] aglassFHKiel commented on #414
In the picture you can sea that the sea level is very close to the sea bottom, thats because i changed the sea dimensions to the dimensions of our laboratory tank in aqwa.
x = 6m
y = 1.5m
z = 1m

![rm3_1_100pic1](https://user-images.githubusercontent.com/71267766/93092701-12460380-f6a0-11ea-95aa-cdf4dcd0da42.PNG)
![rm3_1_100pic2](https://user-images.githubusercontent.com/71267766/93092712-1540f400

[2020-09-14 18:29] dforbush2 commented on #414
The explorer visualization uses the *.stl files for the body geometry, which are distinct from those used in BEM that generate the *h5 file. So unless you have scaled this *stl file as well, that is the issue with the visualization.

Additionally, looking at your mass properties (lines 65 and 71 in wecSimInputFile.m), it does not look like you have scaled your inertia properties. You're using the

[2020-09-14 19:24] dforbush2 commented on #413
Thank you for confirming and proactively doing some research on this.

I have a 2019a distribution installed locally and I am unable to replicate this error, I also can't seem to get it to arise in 2020a... is it possible you have something in your startup.m file, or anything else that you have set to execute at start-up that calls `rand` or `randn`? Quoting from the mathworks link you provide:

"

[2020-09-15 06:53] aglassFHKiel commented on #414
Thanks for your suggestion. I going to check this.

Yes you are right with AQWA, i have to preparing always the lis-file manually before bemio runs.
Which output of externel program works better in bemio? WAMIT, AQWA or NEMOH?

[2020-09-15 13:12] saltynexus opened #415 "Copy classes"
I'm running WEC-Sim using the MCR and I make some changes to the `simu` class during computation. For example, changing the time step to a smaller value does not invoke the default initialization behaviour with each iteration. I have to manually change all class variables to the appropriate values. I find it quite annoying that I can't make a copy of the class, then reassign the initial conditions

[2020-09-15 13:18] aglassFHKiel commented on #414
Hi dforbush2,

thank you very much!

![result_1_100](https://user-images.githubusercontent.com/71267766/93214142-1720bb00-f765-11ea-8634-64020ec6bb8a.PNG)

1. I changed the parameters in the wecSimInputFile.m line 65, 71 (inertia) and 81 (damping). I didn't know it that there are the parameter too.
2. The bemio plots doesn't converge until yet. AQWA is very sensitive with meshing. I don't know how

[2020-09-15 13:36] saltynexus commented on #413
I'll take a closer look later this week and try to give a better assessment.

[2020-09-15 21:06] Liam-Guerrero commented on #411
Dear Nathan,

Thanks for your answers, they really were helpful.

1. Sorry for the first question, maybe I did not express myself properly. I was not expecting you to check term by term in my equation to check if it is right, I was more thinking about to have confirmation that the excitation moment around point A have to consider the terms surge, heave and pitch of the float reflected on point A.

[2020-09-16 13:56] nathanmtom commented on #411
@Liam-Guerrero Thanks for update on the progress for resolving issue.

1. I believe you are correct that there will be an additional moment from the offset in the CoB and CoG. Furthermore, there is a static moment due to the weight of the attachment arm between the float and hinge A. The weight of the arm will also cause a moment about the hinge A.
2. The reason that the RIR is a 6x6 matrix is bec

[2020-09-16 13:57] nathanmtom commented on #411
My apologies for accidentally closing this issue.

[2020-09-16 22:20] yuyihsiang commented on #399
I am going to close the issue. Let me know if you have any questions and I can re-open it if needed.

--Yi-Hsiang

[2020-09-16 22:20] #399 closed

[2020-09-16 22:27] dforbush2 commented on #413
What OS are you running matlab on? That might be helpful.

[2020-09-16 22:33] #396 closed

[2020-09-17 16:02] kmruehl commented on #415
@saltynexus I'm happy to help resolve this issue, but can you provide a little more context about what you're trying to accomplish?

From what I understand, you're trying to run multiple cases of WEC-Sim, and for each case you would like to vary `simu.dt`. Is that correct? If so, the easiest way to do this is to set up a `wecSimMCR` case that varies `simu.dt`. I would recommend using [this MCR app

[2020-09-17 16:24] kmruehl commented on #412
@saltynexus I'm unable to reproduce this error. I've run the RM3 example (attached) with the following wave settings:
[code]
and was able to generate a plot of the imported wave spectrum using the `plotSpectrum` in the `userDefinedFunctions` post-processing script.
[code]

![plotSpectrum](https://user-images.githubusercontent.com/4603379/93498833-7f8bab80-f8cf-11ea-994f-966e39a056ae.png)

[2020-09-18 00:35] kmruehl commented on #405
@H0R5E This is great! Thank you. I added it to the project board as an update. It may be a bit before we merge the PR, but if you would like to draft one, that would be great.

[2020-09-18 00:50] kmruehl commented on #397
@sugarl14 The WEC-Sim documentation is publicly accessible on the [WEC-Sim repository on the gh-pages branch](https://github.com/WEC-Sim/WEC-Sim/tree/gh-pages). There are a couple of ways you can take notes about the documentation and view it offline:

- You can look at the `*.rst` [source files](https://github.com/WEC-Sim/WEC-Sim/tree/gh-pages/source), which are used to compile the documentation

[2020-09-18 00:50] #397 closed

[2020-09-18 02:01] saltynexus commented on #415
In a multi run, using MCR or not, you can NOT change `dt` without changing all other time steps manually because WEC-Sim wants integer multiples of `dt`. When WEC-Sim initializes a run, it dynamically sets all other required values using defaults. For example:

RUN 1: I set `dt=1`, then WEC-Sim will automatically initialize the default nonlinear time step, output time step, etc. to 1 as well.

RUN

[2020-09-18 04:34] saltynexus commented on #412
If you put a break point in the function, then evaluate
[code]
you should get the following error.
[code]

You don't need WEC-Sim to prove this is an error. Type in
[code]

The reason why you get a plot is because the plot is generated before occurs and you're using
[code]
Take out the `try` `catch` statements and you should be able to reproduce the error. It's hiding the fact an error exists.

[2020-09-18 05:25] saltynexus commented on #413
I'm having trouble reproducing this error now, so I'm not really sure what's going on. I'm going to close it for now and if I encounter it again in the future, I'll be sure to log things a little better.

[2020-09-18 05:25] #413 closed

[2020-09-18 15:34] abaddonwang opened #416 "About RM3 point absorber MoorDyn example."
I used the example for RM3 with Moordyn mooring lines provided, and I downloaded MoorDyn and placed it to the correct directory. But when I ran the case, It said:

Error using bodyClass/checkinputs (line 385)
The hdf5 file ../hydroData/rm3.h5 does not exist

Error in wecSim (line 80)
    body(ii).checkinputs;

I'm sure the rm3.h5 exists in the hydroData folder. So I don't know why this error happe

[2020-09-18 16:24] abaddonwang commented on #416
I remade the model rather than copy paste, the problem was solved, it's probably due to some path issues.

[2020-09-18 16:24] #416 closed

[2020-09-21 16:03] #412 closed

[2020-09-21 16:04] kmruehl commented on #412
@saltynexus thanks for bringing this to our attention, the proposed solution has been added, and the warning should be removed.

[2020-09-21 16:22] kmruehl commented on #415
Instead of assigning the class to a new variable (and creating a pointer), I recommend saving the class, setting `simu.dt` to the desired value, and then saving/using the new class. This should resolve the pointer issue.

[code]

[2020-09-21 17:26] dforbush2 commented on #414
I can't give too many specific tips on BEM, but I do know that these codes are really sensitive to panel resolution. A 1:100 scale of RM3 is quite small, so individual panels in your mesh should be really small. A nice open source tool for checking and manipulating meshes is Meshmagick https://lheea.github.io/meshmagick/command_line/cli_usage.html#translations. I would try to
1). Ensure all of you

[2020-09-21 17:26] #414 closed

[2020-09-21 20:39] kmruehl commented on #388
I've added this issue to upgrading WEC-Sim to MoorDyn2 on the project board: https://github.com/WEC-Sim/WEC-Sim/projects/28

[2020-09-23 11:12] aglassFHKiel opened #417 "How can I change the XLables in the BEMIO Plots"
![normalized_radiation_irf_surge](https://user-images.githubusercontent.com/71267766/94005120-1956cb00-fd9e-11ea-97a8-1992c49932a1.png)

How can i change the time in normalized radiation and normalized excitation irfs?

[2020-09-23 13:53] aglassFHKiel commented on #417
up to 60 secounds

[2020-09-24 17:13] dforbush2 commented on #417
After BEMIO runs, click the plot you're interested in and type

`xlim([0 60]);`

However, the time over which the IRF is calculated is a user input to `Radiation_IRF` and `Excitation_IRF`, and the X-limit of the plots created should be inherited from this input.

For example, 60 second IRFs are calculated as:
[code]
Please see https://wec-sim.github.io/WEC-Sim/advanced_features.html#bemio

[2020-09-24 17:30] abaddonwang opened #418 "about the multi-directional wave analysis, the h5 file generated by the AQWA output."
When I used AQWA to get the .AH1 file and .LIS file, I can select how many wave directions and wave frequencies I'd like to use. In AQWA, I used 99 frequencies and the default 8 wave directions.

I got the .h5 file for 2D waves successfully, I think it's enough for single-direction wave analysis since the wave anlge is 0 degree. However, when I tried to carry on the multi-directional wave analysis

[2020-09-24 20:40] aglassFHKiel commented on #417
perfekt, thanks

[2020-09-24 20:40] #417 closed

[2020-09-24 22:49] ThBoerner commented on #418
Hi @abaddonwang ,

By default, BEMIO will check your .AH1 and .LIS files obtained from Aqwa for the number of wave headings and include all of them in the .h5 file. This happens in the "Read_AQWA.m" file:
line 33 reads the AH1 file
line 54 writes the relevant information into a temporary variable, and
line 66 extracts the number of wave headings that information is available for.

The same script

[2020-09-25 03:46] saltynexus commented on #415
Yes, if you read the end of my initial post, this is what I currently do. However "it's kinda "clunky" and it certainly doesn't seem efficient to be loading-clearing data with every iteration". This was the reason why I asked about copying the class.

[2020-09-25 21:16] dforbush2 commented on #415
Hi Salty,

I agree with @kmruehl, and I would second the use of this approach with a minor modification (no 'all' flag may a be a little faster):
[code]
etc.

It sounds like it works for you? Even though this is "kinda clunky" the unwieldy aspects  of it are more of a MATLAB/Simulink problem than a particular shortcoming of WECSIM. The problem you point out with the time-step is particularly painf

[2020-09-26 00:04] saltynexus commented on #415
The save-load approach does work as intended, so yeah, it's not a problem/bug with WECSim. It was more of a question on whether or not there was a better implementation. From what I gather, MATLAB is more interested in conserving memory by creating a pointer as opposed to a deep copy...which is great, but not always desirable. They (MATLAB) could make it more transparent on how to create a deep co

[2020-09-26 17:54] nathanmtom commented on #411
@Liam-Guerrero Please let us know if the last correspondence has satisfactorily answered your questions. We are happy to answer other questions you might have by submitting a new issue.

Cheers,
Nathan
National Renewable Energy Laboratory

[2020-09-27 23:29] Liam-Guerrero commented on #411
Dear Nathan,

Yes, it really helps me to understand the issues I had.

Thanks for your help, very much appreciated.

Regards,
Juan Guerrero

[2020-09-27 23:29] #411 closed

[2020-09-29 02:32] zhykly opened #419 "Simulation stuck in the pre-processing stage, when small time-step, such as 0.0001s"
Hi someone,

to hybrid with other simulation software, I need a very small time-step.

Take RM3 for example, when I set the time-step as 0.0001s.  Then I start to run wec-sim( Only wec-sim, not hybrid).
After a few hours, WEC-sim is still in the pre-processing stage. and it seems being blocked.

![image](https://user-images.githubusercontent.com/32645638/94504991-b43b2380-023c-11eb-8d51-526cc50ead

[2020-09-29 13:17] saltynexus opened #420 "Small error"
Undefined function or variable 'value'.

Error in simulationClass/checkinputs (line 154)
                error('The simMechanics file, %s, does not exist in the case directory',value)

I think `value` is intended to be the name of the file

[2020-09-30 20:36] dforbush2 commented on #419
Hi York,

I tried this, and it appeared that most of the time was taken up with the waves.waveSetup function, in which the wave time-series is calculated.

If you're using a time step of 0.0001 s. with the simulation time of 400 s, this pre-calculation is generating numerous arrays with a length of 4e6. It is probable that this will take quite awhile, though you shouldn't be running up against you

[2020-09-30 21:26] dforbush2 commented on #420
Hi Salty,

Can you provide a bit more context about when and how this error appeared? Its not one I have encountered in my regular use of WEC-Sim

[2020-09-30 21:50] yuyihsiang commented on #419
Few things I would like to add:

- Use rapid-accelerator mode:
    simu.mode = 'rapid-accelerator';

- Use the state-space calculation option:
    simu.ssCalc = 1;

- Shorten the Simu.CITime: Note please make sure the time is sufficient to have the impulse response function converged

- You may be able to use two solvers, one for the basic WEC-Sim simulation and the other one for the other simulat

[2020-09-30 22:10] saltynexus commented on #420
I pointed out exactly where the error is. I don't know what more I can say. If you want to reproduce it, don't include the `simMechanics` file in the case directory. The actual error is "Undefined function or variable 'value'." not the fact that the file is missing.

[2020-09-30 22:12] dforbush2 commented on #420
Oh I understand. It's a problem with producing a useful error message. Not an error you were encountering and unsure how to get around.

I'll see about fixing this.

[2020-09-30 22:21] saltynexus commented on #420
Yeah...it is a small error I came across and was sharing....nothing of major concern. Overall, I'm trying to keep the developers informed of things I see while working with WEC-Sim. Would you prefer that I don't open issues of this kind?

[2020-09-30 22:24] kmruehl commented on #418
@ThBoerner Thank you!

@abaddonwang did this resolve your issue?

[2020-09-30 22:36] dforbush2 commented on #420
Please do, its definitely helpful and appreciated. I just initially misunderstood.

[2020-10-01 08:14] abaddonwang commented on #418
Thank you very much, I will check the .h5 file and BEMIO.

Best regards,

Abaddon
________________________________
发件人: Kelley Ruehl <notifications@github.com>
发送时间: 2020年9月30日 23:24
收件人: WEC-Sim/WEC-Sim <WEC-Sim@noreply.github.com>
抄送: Daming Wang <daming.wang@plymouth.ac.uk>; Mention <mention@noreply.github.com>
主题: Re: [WEC-Sim/WEC-Sim] about the multi-directional wave analysis, the h5 file gen

[2020-10-01 10:14] H0R5E commented on #405
Hey @kmruehl,

So, after doing a bit more work on this I realise there is currently no point to it, given that any objects created in the base workspace are overwritten when wecSim in called. Given this is the case, the next best thing would be to stop the blocks looking for objects in the first place, which is possible, but the change to make this work would break existing models.

I think if we

[2020-10-01 14:09] zhykly commented on #419
Professional answers! thanks.
Yes, indeed, I am doing a simulation involving power electronics and high stiffness spring. This makes the differential equation have a very small time constant.
For the differential equations with very small time constant. Variable step size algorithm is indeed an effective way to deal with it.

However, in some scenarios, the fixed step size algorithm has an indispe

[2020-10-01 14:27] zhykly commented on #419
Potentially, there are two software that might be used. it is still in the stage of technical route trial.
a)	Power electronics, including Rectifier (AC-DC) device and Voltage stabilizing device (DC-DC) device.
b)	ANSYS fluent, to calculate the viscous drag of underwater body. The time step is estimated to be 0.005 s.

[2020-10-01 15:44] dforbush2 commented on #419
Hi York,

Great comment on the Wave Gauge amplitudes being calculated unnecessarily. In reviewing this issue yesterday that also came to my attention, and has been added for now as a project for the team. This should reduce pre-calculation time by up to 4x, and will be addressed in the near future. And you are also correct that at the very least WaveAmpTime[1:3] should be pre-allocated. I will pus

[2020-10-01 16:14] #420 closed

[2020-10-01 18:49] dforbush2 commented on #415
Thanks for keeping on this.

For the purposes of other users: multiple simulations at different time-steps can be carried out using WEC-Sim MCR. The recommended example from @kmruehl https://github.com/WEC-Sim/WEC-Sim_Applications/tree/master/Multiple_Condition_Runs/RM3_MCROPT3 is a good starting place. From these source files:

1). create an MCR mat file (with variable name = mcr) in the style of

[2020-10-01 18:49] #415 closed

[2020-10-02 00:36] zhykly commented on #419
Hi dforbush2,

Thanks for your help, it definitely helps me. and I will keep on trying the technical route.

Anyway, thank you again, and I wish WEC-sim would become more and more perfect and powerful.

Best wishes,
York

[2020-10-05 20:34] #419 closed

[2020-10-05 20:40] dforbush2 commented on #384
This is in progress!

[2020-10-07 15:27] sugarl14 opened #421 "PTO: k, c, and linearDamping values"
Hi,

I was wondering what you all did to determine the values for k, c, and linearDamping for the OSWEC following tutorials:

1) for the oswec wecSiminputfile:
pto(1).k = ?
pto(1).c = ?

and
2) for the PTO-Sim example for the OSWEC
body(1).linearDamping(5,5)= ?

I also notices for the PTO-Sim example (OSWEC_Hydraulic_PTO), you all defined pto(1).k and pto(1).c to be zero. Why did you choose this?

[2020-10-07 15:27] sugarl14 opened #422 "PTO k, c, and linearDamping values?"
Hi,

I was wondering what you all did to determine the values for k, c, and linearDamping for the OSWEC following tutorials:

1) for the oswec wecSiminputfile:
pto(1).k = ?
pto(1).c = ?

and
2) for the PTO-Sim example for the OSWEC
body(1).linearDamping(5,5)= ?

I also notices for the PTO-Sim example (OSWEC_Hydraulic_PTO), you all defined pto(1).k and pto(1).c to be zero. Why did you choose this?

[2020-10-07 16:37] dforbush2 commented on #421
I'm answering this in #422 due to the duplicate issue.

[2020-10-07 16:37] #421 closed

[2020-10-07 17:18] dforbush2 commented on #422
Hi @sugarl14

With respect to 1), the tutorial instructions are given on https://wec-sim.github.io/WEC-Sim/tutorials.html#oscillating-surge-wec-oswec . It appears that for this example that pto(1).k = 0 and pto(1).c = 0. The intention was to provide a sandbox for the user to experiment with these values. Note that even with no stiffness and damping added at the pto, there is still stiffness and da

[2020-10-08 12:31] sugarl14 opened #424 ".AH1 structure ordering"
Hi,

I am using AQWA to model my own OWSC and just realized something that may or may not be causing some issues when I run wec-sim. In my specific case, I have 2 parts-- a base and a flap. And I noticed in my .AH1 file that the 1st structure being analyzed is the base, and the 2nd structure is the flap. However, I feel like it should be the other way around since in Simulink, body(1) is the flap,

[2020-10-08 13:45] sugarl14 commented on #422
Thank you for the information!

[2020-10-08 15:16] dforbush2 commented on #424
Hi @sugarl14

If you are modeling both the flap and the base as hydrodynamic bodies, then order does not matter. If, however, as in some WEC-Sim examples, you are modeling the flap as a non-hydrodynamic body, you may have to list the hydrodynamic body first (i.e., body(1)), which can create issues if your BEM output has this listed as body 2.

Let me merge pull request #423. This was intended to a

[2020-10-12 22:47] #418 closed

[2020-10-14 12:42] sugarl14 opened #427 "OWSC Rotation Limit"
Hi,

This issue is similar to issue #343  , but it is dealing with an OWSC.  Whenever I run a simulation on my OWSC geometry, the flap seems to rotate beyond the base structure (which, physically, is impossible). I have attached a picture of this below. Is it possible to model end stops in WEC-Sim so the flap will only rotate say + and - 45 degrees?

![image](https://user-images.githubusercontent.

[2020-10-14 15:48] dforbush2 commented on #422
Yes. If the user specifies hydraulic PTO parameters in the ptoSimInputFile using PTO-Sim and is using the appropriate blocks from the PTOSim_Lib.slx in the simulink model, then the parameters specified in the ptoSimClass object will be used in the simulation. (For reference: https://wec-sim.github.io/WEC-Sim/advanced_features.html#pto-sim)

The pto(1).k and/or pto(1).c parameters are used by the p

[2020-10-14 22:27] dforbush2 commented on #424
@sugarl14 Did this answer your question?

[2020-10-14 22:41] dforbush2 commented on #427
Hi @sugarl14

I think you should be able to do something similar to the solution proposed for #343 by specifying a user-prescribed force on your rotational PTO, you could also try the hard-stop Simscape blocks (external to the WEC-Sim distribution) suggested in #185.

Additionally, later versions of MATLAB/Simulink have additional dialog options on constraint/PTO type blocks that allow the user to

[2020-10-15 11:04] sugarl14 commented on #422
Awesome. Thank you very much!

[2020-10-15 11:04] #422 closed

[2020-10-15 11:25] sugarl14 commented on #424
Yes! Thank you!

[2020-10-15 11:25] #424 closed

[2020-10-15 12:54] sugarl14 commented on #427
Great. Thank you for all the help!

[2020-10-15 12:54] #427 closed

[2020-10-15 14:55] kmruehl opened #429 "source code mangement"
Opening a issue to tag a thread on source code management. This is an ongoing discussion to determine the best workflow for collaborative development on WEC-Sim. Refer to discussion here: https://github.com/SNL-WaterPower/WecOptTool/issues/192

[2020-10-16 10:36] H0R5E commented on #429
One important practice I would recommend when merging PRs is to use the [Squash and Merge](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-pull-request-merges#squash-and-merge-your-pull-request-commits) option, which will roll all of the file changes in a PR into a single commit. The main reason this is important is that if there was a mista

[2020-10-21 02:53] qorbanpour opened #431 "A question about PTO-Sim"
I am new to WEC-Sim and I was reading the tutorial about PTO-Sim  :

https://wec-sim.github.io/WEC-Sim/advanced_features.html#pto-sim

In the tutorial it is mentioned as follow :

[code]

My question is :

Why the damping should be set to zero ( my guess is that it's calculated in PTO-Sim block somewhere ) . Also Is the stiffness from PTO block needs to be set to zero !

Or better putting in this

[2020-10-21 17:02] enrjcutl opened #432 "WEC-Sim & FAST"
Is there a reference to coupling the two codes WEC-Sim and FAST?

[2020-10-26 15:38] kmruehl commented on #384
@ffrancesco this should be resolved with @dforbush2 pull-request #423

[2020-10-26 15:38] #384 closed

[2020-10-26 15:48] yuyihsiang commented on #432
I don't think there is a direct way to couple the two codes. May I ask what is the objective of the effort?

--YI-Hsiang

[2020-10-26 16:10] enrjcutl commented on #432
Thanks for your response Yi.

I came across an extract by NREL stating WEC-Sim can be integrated with other tools. https://www.nrel.gov/news/features/2020/wave-energy-converter-simulator.html, reinforced by a paper by Li et al. found here https://doi.org/10.1016/j.renene.2017.09.080.

The scope of my research is very similar. I am studying the performance of a integrated floating energy system tha

[2020-10-26 16:42] kmruehl commented on #405
@H0R5E after some discussion we would to keep the wecSim execution the same, but will consider adding an optional parameter that allows users to use the SIMULINK interface.

[2020-10-26 16:42] #405 closed

[2020-10-26 18:01] kmruehl commented on #429
@H0R5E I/we agree with the squash and merge option. And I agree with your comment about repo size. For now we will be working off of forks and submitting PRs into the dev branch. But we may need to re-evaluate the best workflow for features that need development by more than one person.

[2020-10-26 19:55] ttran18 commented on #432
Hey Josh,

FYI:  There is a group at Swansea University, the UK is also being developed the floating energy system (wind+tidal) using WEC-Sim code. The main author presented this research in the PRIMaRE 7th Conference. His name is Jack Hughes.

Cheers,
Toan

[2020-10-26 22:44] dforbush2 commented on #431
Hi @qorbanpour

"Why the damping should be set to zero (my guess is that it's calculated in PTO-Sim block somewhere )"

Your guess is correct! When using PTO-Sim blocks, these parameters (k and c) are functions of the specific PTO component parameters (e.g., motor constants and friction, etc). The k or c specified in the simple ptoClass blocks (pto.k and pto.c) are not used by the PTO-Sim blocks,

[2020-10-27 11:45] H0R5E opened #436 "Moving docs into master and automatic deployment"
This issue is to demonstrate the concept of storing documentation in `master` (and any branches off master), in the `docs` folder, and using TravisCI to build and deploy the docs to the `gh-pages` branch. I have set up an example of this process in [this repository](https://github.com/H0R5E/WEC-Sim-Test). The associated docs (built by [TravisCI](https://travis-ci.org/github/H0R5E/WEC-Sim-Test/buil

[2020-10-27 16:09] jleonqu commented on #431
Hi @qorbanpour

In the example that you mentioned the hydraulic PTO is used. The hydraulic PTO is receiving an input from the Translational PTO Actuation Force. If you take a look inside this block, you can see that there is a subsystem called InternalMechanics.

![image](https://user-images.githubusercontent.com/72461917/97329317-8990ba80-183c-11eb-9252-d47456db6a32.png)

This subsystem is versat

[2020-10-27 17:06] kmruehl commented on #431
@qorbanpour Does this answer your question?

[2020-10-27 17:20] kmruehl commented on #436
@H0R5E definitely. Thank you so much for getting this set up. It looks great! We will pause all documentation updates until this PR is submitted and merge. Do you want to submit this PR to both master and dev, or just dev? FYI, it's our goal to merge dev into master by the end of this week.

@WEC-Sim/wec-sim-lab-team do **not** update the docs until @H0R5E has submitted a PR for this feature and w

[2020-10-27 17:36] H0R5E commented on #436
@kmruehl, the easiest was is probably if let me have full control of the repository and the travisCI account for a short while so I can get this done. It often needs a little bit of tweaking to get it to build correctly. I don't have time to do it today, but if you give me permission to do so, I can attempt it tomorrow morning, my time.

One thing which you might want to do first is make sure that

[2020-10-27 17:42] kmruehl commented on #436
I'll set this set up for you right now.

[2020-10-27 18:54] qorbanpour commented on #431
@dforbush2  Thank you for the explanation .
@jleonqu  Thank you for the nice explanation .
@kmruehl  Yes, it helped alot . Thanks for clarification and your helps .

Warmest,
Sahand.

[2020-10-27 20:53] kmruehl commented on #431
Of course, I'm going to close this issue.

[2020-10-27 20:53] #431 closed

[2020-10-27 21:51] akeeste opened #437 "Bug when using B2B and CI calculation together"
When running the WEC-Sim_Applications repo body-to-body case 4 (B2B and CI calculation). A dimension error is generated in the convolution integral calculation within the radiation force calculation block.

the full error message is:
Error using wecSim (line 292)
Non-singleton dimensions of the two input arrays must match each other.
	Error in 'RM3/Float/Hydrodynamic Body/Wave Radiation Forces Cal

[2020-10-27 21:54] dforbush2 commented on #437
Hi @akeeste ,

I can't replicate this error. Is it possible this is path issue on your local machine? Perhaps it is pointing to the wrong BEM data?

[2020-10-28 11:51] enrjcutl commented on #432
Hi Toan,

I will look further into this.

Many thanks,

Josh

[2020-10-28 15:03] H0R5E commented on #436
@kmruehl I think that the second submodule for WEC-Sim_Applications (in the `applications` folder) is not required any more. Do you want me to remove it as the last task in this issue?

[2020-10-28 17:27] kmruehl commented on #437
@akeeste and @dforbush2 I'm also not able to reproduce this issue. I'm currently running MATLAB 2020a and I've pulled the latest version of WEC-Sim_Applications https://github.com/WEC-Sim/WEC-Sim_Applications/commit/34c3ad5bfce8e3ac296f686683df9c9457324185, and the latest commits to both the dev c6e768053157f7a6dfea92fb6781557e6b14144f and master ac8af2a12f7212cb5c813b3e92e0e2d0bfe56c6a branches o

[2020-10-28 17:36] kmruehl commented on #432
@ttran18 and @yuyihsiang thanks! @enrjcutl I'm going to close this issue.

[2020-10-28 17:56] kmruehl commented on #436
@H0R5E we actually no longer need either of the submodules so I deleted them both on dev. Please take a look and see if I missed anything.

[2020-10-28 20:13] akeeste commented on #437
This issue appears to only appear in MATLAB R2020b. 2020a is fully functional. I believe the problem is coming from a change (or bug) in how the bsxfun() function is implicitly expanding the velocity and IRKB_interp arrays.

Up to the point of the error, both versions contain the following dimensions (at least when running the B2B/case4 application).
V - [6]
IRKB - [601x6x12]
lenJ - [1]
CTTime - [

[2020-10-28 20:17] dforbush2 commented on #437
Sounds like some permute() or reshape() to explicitly set array size might be a more robust solution that relying on bsxfun to sort out the proper dimensions? I'm guessing that 2020b documentation for bsxfun might mention the nature of the change more explicitly?

[2020-10-28 20:25] akeeste commented on #437
@dforbush2 Yes I agree permuting them so that the dimensions match exactly before the multiplication is more robust going forward. I'll submit a PR once I get it working

[2020-10-29 09:54] H0R5E commented on #436
Hi @kmruehl, I didn't think you would want to remove both, because one of them is explicitly mentioned in the docs:

http://wec-sim.github.io/WEC-Sim/man/tutorials.html?highlight=submodule#applications-repository

[2020-10-29 19:20] kmruehl commented on #436
@H0R5E Thanks for bringing my attention to that note. It's outdated and I'll revise it.

[2020-10-29 20:59] #436 closed

[2020-10-30 23:06] hossein-mehdipour opened #447 "Information about wecSim Outputs"
I wanted to ask if there is any information about wecSim outputs, that explains what are they exactly, for example in  output.bodies(1).position  &  output.bodies(1).velocity   I'm not really sure what each column represents or what is its dimension, (for example, does column #5 represent the velocity in pitch, and its in radian)?
Or what's the difference between output.ptos.forceInternalMechanics